/* .seasonal_vacation_card{
    width: 420px;
    height: 450px;
    background-color:#FAF2DC;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    transition: transform 0.5s ease-in-out;
}

.seasonal_vacation_card:hover{
    transform: scale(1.03);
}

.seasonal_vacation_image_box{
    max-width: 420px;
    height: 310px;
}

.seasonal_vacation_image_box img{
    width: 420px;
    height: 310px;
    object-fit: cover;
    border-radius: 5px;
}

.seasonal_vacation_details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.seasonal_vacation_name{
    text-align: center;
    font-size: 40px;
}

.seasonal_vacation_span{
    font-size: 16px;
   
}
    
 */
