body{
  margin: 0;
}
.shore-part{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image:url('../Images/shore.png');
  background-size: cover;
  height: 130px;
  background-position: center;
}
.sub{
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  margin-left: 110px;
}

.sub h1{
  font-size: 40px;
}
.sub p{
  margin-top: -13px;
  margin-left: 50px;
}

.btn{
  margin-right: 100px;
  color: black;
  background-color: #E8E8E8;
  border: 1px white solid;
  opacity: 0.9;
  width: 140px;
  height: 40px;
  font-size: large;
  border-radius: 10px;
}

.btn:hover{
  background-color: #d0cfcf;
}

.shore2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-image: url("../Images/sand.jpg"); */
  height: 100px;
  /* background-size: cover;
  background-position: center; */
}

.container2{
  background-image: url("../Images/sand.jpg");
  background-size: cover;
  background-position: center;
}
.shore2 ul li{
  list-style: none;
  display: inline;
}

.fa-brands, .fa-solid{
  font-size:30px !important;
  margin: 10px;
}
.others a:link{
  text-decoration: none;
  color: rgb(69, 23, 23);
  font-weight: 600;
  margin: 7px;
  font-family: 'Roboto';
}
.others a:visited{
  color:rgb(78, 27, 27);
}
.others a:hover{
  background-color: burlywood;
  padding: 5px;
}

.others{
  margin: 20px;
}

.cop{
  font-family: 'Roboto';
  color: #fff;
  text-align: center;
  margin-top: -5px;
  font-weight: 600px;
}

@media screen and (max-width: 700px){
  
  .sub h1{
    font-size: 30px;
  }

  .sub p{
    margin-top: -13px !important;
    margin-left: 50px;
  }
  .btn{
    margin-right: 70px;
    color: black;
    background-color: #E8E8E8;
    border: 1px white solid;
    opacity: 0.9;
    text-align: center;
    width: 90px;
    height: 40px;
    font-size: medium;
    border-radius: 10px;
  }
  .shore2{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-image: url("../Images/sand.jpg"); */
    height: 160px;
    /* background-size: cover;
    background-position: center; */
  }
  
  .others a{
    display: list-item;
    list-style: none;
    text-align: center;
    row-gap: 10px;
  }

  .others{
    margin: 0;
  }
  
}