body{
  background-image: url("../Images/seashoree.jpg");
  background-size: cover;
  background-repeat: none;
  min-height: 130vh;
}
#location{
  width: 100px;
  height: 100px;
}
.navbar{
  background-color: red;
}
.toggle-buttonn{
  position: absolute;
  /* top: .70rem; */
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-buttonn .bar{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
.navbar1{
  display: flex;
  align-items: center;
}

.navbar2{
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.navbar1 ul{
  /* position: absolute; */
  list-style: none;
  display: flex;
  flex-direction: row;
}
.navbar1 a{
  position: relative;
  text-decoration: none;
  margin-left: 30px;
  color: white;
  font-weight: bold;
  font-family: 'Roboto';
}
.l::before{
  content:'';
  position:absolute;
  top:100%;
  left:0;
  width:0;
  height:2px;
  background: #fff;
  transition: .3s;
}

.l:hover::before{
  width: 100%;
}
header{
  position:fixed;
  background: transparent;
  top:0;
  left:0;
  width: 100%;
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  z-index:100;
}
/* 
.elements{
  display: flex;
} */
.booking{
  background: white;
  color: black;
  opacity: 0.5;
  border: 1px white solid;
  border-radius: 5px;
  /* width: 100%; */
  padding-left: 30px;
  padding-right: 30px;
  height: 30px;
}

.booking:hover{
  background: white;
  opacity: 0.7;
}
.lang-menuu{
  margin-left: 20px;
  position: relative;
}

.lang-menuu ul{
  background-color: white;
  padding: 6px;
  border: 1px solid #f8f8f8;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
  /* list-style: none; */
  display: none;
  border-radius: 5px;
  position: absolute;
  top: 18px;
  right: 0;
}

.lang-menuu ul li a {
  width: 100px;
  display: block;
  padding: 5px;
}

.lang-menuu ul li{
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.lang-menuu ul li a:before{
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

.lang-menuu:hover ul{
  display: block;
}
a{
  text-decoration: none;
}
.lang-menuu ul li a:hover{
  background-color: #f2f2f2;
}

.de::before{
  background-image: url(https://flagsapi.com/BE/flat/32.png);
}

.it::before{
  background-image: url(https://flagsapi.com/IT/flat/32.png);
}

.fr::before{
  background-image: url(https://flagsapi.com/FR/flat/32.png);
}

.es::before{
  background-image: url(https://flagsapi.com/ES/flat/32.png);
}

.en::before{
  background-image: url(https://flagsapi.com/US/flat/32.png);
}
.selected-langg{
  cursor:pointer;
  display: flex;
  justify-content: space-between;
  
}

.selected-langg::before{
  content:'';
  display: block;
  width:32px;
  height:32px;
  background-image: url(https://flagsapi.com/US/flat/32.png);
}
*{
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

/*---------------------------------BUTTONNNNNN---------------------------*/
:root{
  --dark-icon-color: #fff;
  --dark-color:#2b2b2b;
  --light-color:#f7f7f7;
  --light-icon-color:#FFDE59;
}
.btnn{
  background-color: #fff;
  width:70px;
  height:33px;
  border-radius: 3em;
  margin-right: 20px;
  box-shadow: inset 0 8px 60px rgba(0,0,0, .1), 
              inset 0 8px 8px rgba(0,0,0, .1),
              inset 0 -4px 4px rgba(0,0,0, .1);
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.btnn__indicator{

  background-color: #fff;
  width:30px;
  height:30px;
  border-radius:20px;
  position: absolute;
  box-shadow: 0 8px 40px rgba(0,0,0, .2);
  transition: transform .3s ease;
}

.btnn__icon-container{
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btnn__icon{
  color: var(--light-icon-color);
}
/* .fa-brands, .fa-solid{
  font-size: 20px !important;
} */
.btnn__icon{
  font-size: 20px !important;
}
.elements ul li a{
  text-decoration: none;
  color: white;
}
/*----------------------Winter mode----------------*/
body.wintermode{
  background-image: url("../Images/winter.jpeg");
}

.lang-menuu ul li a {
  text-decoration: none;
}
.wintermode .btnn{
  box-shadow: inset 0 8px 60px rgba(0,0,0, .3), 
              inset 8px 0  8px rgba(0,0,0, .3),
              inset 0 -4px 4px rgba(0,0,0, .3);
}
.wintermode .btnn__indicator{
  transform: translateX(40px);
  background-color: var(--dark-color);
  box-shadow: 0 8px 40px rgba(0,0,0, .3);
}

.wintermode .btnn__icon{
  color:var(--dark-icon-color);
}

/* --------------ANIMATION----------------- */
.btnn__icon.animated{
  animation: spin 0.5s;
}

@keyframes spin{
  to{
    transform: rotate(360deg);
  }
}

/* ----------------TITLE-------------------------- */
.titlee p{
  font-family: 'Lobster Two';
  font-size: 100px;
  color: white;
}

#sum{
  margin-top: -20px;
  margin-left: 300px;
}
.titlee{
  line-height: 1;
  margin-top: 160px;
  display: flex;
  align-items: center;
  flex-direction:column;
  margin-bottom:50px;
}

/* ----------------------SEARCH-------------------------------- */
.search-barr
{
  width: 100%;
  background-color: rgba(255,255,255,0.4);
  border: 1px solid rgb(169, 169, 62);
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.search-barr img{
  width:40px;
  height: 35px;
}

.search-barr input{
  background: transparent;
  flex: 1;
  border:0;
  outline: none;
  padding: 4px 5px;
  font-size: 20px;
}

.search-barr button{
  border: 0;
  width:40px;
  height:40px;
  background: transparent;
  cursor: pointer;
}

/* ------------------RESPONSIVE---------------- */
@media screen and (max-width: 900px){
    .titlee p{
      font-family: 'Lobster Two';
      font-size: 60px;
      color: white;
    }
    
    #sum{
      margin-top: -10px;
      margin-left: 300px;
    }

  }
  @media only screen and (max-width: 850px) and (min-width: 601px){
    .toggle-buttonn{
      display: flex;
    }
    .elements ul{
      position: absolute;
      display: flex;
      flex-direction: column;
      width:100%;
      text-align: center;
      padding-left: 0;
      background-color: rgba(134, 198, 202, 0.5);
    }

    .elements ul li:hover{
      width: 100%;
      background-color: #2b2b2b44;
    }
    .elements ul li{
      padding: 15px;
    }
    .titlee{
      /* margin-top: 290px; */
    }
    .elements.active{
      display: flex;
    }
    .elements{
      display: none;
      width: 100%;
    }
    .navbar1{
      flex-direction: column;
      align-items: flex-start;
    }
    .btnn{
      width: 80px;
    height: 33px;
    margin-right: 400px
    }
    .wintermode .btnn__indicator{
      transform: translateX(50px);
    }
    .booking{
      position: absolute;
      margin-left: 124px;
    }

    .lang-menuu{
      position: absolute;
      margin-left: 311px;
    }
    #sum{
      margin-left: 120px;
    }
  }

  @media screen and (max-width: 600px){
    .toggle-buttonn{
      display: flex;
    }
    .elements ul{
      position: absolute;
      display: flex;
      flex-direction: column;
      width:100%;
      text-align: center;
      padding-left: 0;
      background-color: rgba(134, 198, 202, 0.5);
    }

    .elements ul li:hover{
      width: 100%;
      background-color: #2b2b2b44;
    }
    .elements ul li{
      padding: 15px;
    }
    .elements.active{
      display: flex;
    }
    .elements{
      display: none;
      width: 100%;
    }
    .navbar1{
      flex-direction: column;
      align-items: flex-start;
    }
      .btnn{
        border-radius: 50%;
        width: 10px;
        height: 10px;
      }

      .wintermode .btnn__indicator{
        transform: translateX(0);
        background-color: var(--dark-color);
        box-shadow: 0 8px 40px rgba(0,0,0, .3);
      }

      .booking{
        margin-left: 30px;
        margin-right: 165px;
        width: 146px;
      }
      
      .lang-menuu{
        position: absolute;
        margin-left: 230px;
        /* margin-left:290px; */
      }
  }
  /* @media screen and (max-width:414px){
    .lang-menuu.active {
      position: relative;
      display: flex;
      flex-direction: column
  }
} */