body{
  background-color: #dbdbdb;
}
.al{
  font-family: 'Lato' !important;
}

.titlee{
  margin-top: 0 ;
  position: absolute;
  margin-left: 35%;
}
.titlee p{
  margin-top: 150px;
}
.headWrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.5); 
  opacity: 0.7; 
}
#meetAndGreet{
  text-align: center;
  font-size: 35px;
  font-family: 'Lato';
  color: #063456;
  font-weight: 600;
}
.staff-background-cards{
  height: 220px;
  margin-top: 130px;
  background-color: #063456;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 200px;
}

.staff-image{
  width: 260px;
  height: 340px;
  filter:brightness(0.7);
  object-fit: cover;
}
.staff-body-cards{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  height: 340px;
  bottom: 70px;
  /* object-fit: cover;  */
  background-position: center; 
  background-size: cover;
  overflow: hidden; 
  transition: transform 0.3s;
}

.staff-body-cards::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.25);
}

.staff-body-cards:hover {
  transform: translateY(-20px); /* Move card up on hover */
}
.social-ribon{
  position: relative;
  width: 40px;
  height: 340px;
  background-color: #9FAFBB; 
}
.social__icon{
  font-size: 20px !important;
}
.social-ribon ul{
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-top: 62px;
  /* padding-right: 3px; */
}
.social-ribon ul li a{
  text-decoration: none;
  color: white;
}
.social-ribon ul li{
  padding-bottom: 20px;
}
.name{
  /* position: absolute; */
  margin-left: 43px;
  font-family: 'Lato';
  font-weight: bolder;
  color: white;
  position: relative;
  margin-top: 165px;
  font-size: 26px;
}
.profession{
  margin-left: 43px;
  font-family: 'Lato';
  font-weight: bolder;
  color: white;
  position: relative;
  font-weight: 100;
  font-size: 19px;
  margin-top: -25px;
}
.info{
  color: white;
  position: relative;
  font-family: 'Lato';
  padding: 10px;
  visibility: hidden;
  /* opacity: 0; */
  transition: opacity 0.3s, visibility 0s 0.3s; 
}

.staff-body-cards:hover .info {
  visibility: visible;
  /* opacity: 1; */
  transition-delay: 0s;
}

@media screen and (max-width:900px){
  .headWrap::before {
    height: 400px;
  }
}

@media screen and (max-width:975px){
  .staff-background-cards{
    color:#dbdbdb;
    flex-direction: column;
    align-items: center; 
    height: auto;
    /* margin-top: 100px;
    margin-bottom: 100px; */
    row-gap: 70px;
    margin-bottom: 110px;
  }

  .staff-body-cards{
    display: flex;
    flex-direction: column;
    overflow: visible;
  }

  .social-ribon{
    width: 300px;
    height: 40px;
  }
  .staff-body-cards:hover {
    transform: translateY(-20px); 
  }

  .social-ribon ul{
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 67px;
    
  }
  .social-ribon ul li{
    padding-bottom: 0;
  }
}

@media screen and(max-width:850px){
}