body{
    margin: 0;
    background-image: none!important;
    background-color: rgba(67, 68, 72, 1);
}

#main-img{
    height: 600px;
    width: 100%;
}
.headWrap{
    height: 580px;
    background-image: url('../Images/bus.jpg');
    background-size: cover;
    background-repeat: none;
    background-position: center;
}

.div-main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    bottom: -115px;
    animation-name:fly-div;
    animation-duration: 2s;
}

.work-card{
    background-color: rgba(186, 186, 186, 0.81);
    flex:0 0 25%; 
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}

.work-card-p
{
    text-align: center;
    padding: 10px;
    color: rgba(45, 96, 153, 1);
    font-family: 'ABeeZee',sans-serif;
    font-size: 18px;
    margin-top: 0px;
}


.work-card-middle{
    flex: 0 0 25%;
    background-color: rgba(45, 96, 153, 0.81);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px; 
    position: relative;
}
.work-icon{
    height: 40px;
    width: 40px;
}


.intro-title{
    font-family: 'Lobster',sans-serif;
    position: absolute;
    top: 160px;
    font-size: 64px;
    animation-name: fly-work;
    animation-duration: 2s;
    width: 100%;
    text-align: center;
    color: white;
}

@keyframes fly-work{
    0%{opacity: 0; top: 500px;}
    100%{opacity: 1;}
}

@keyframes fly-div{
    0%{opacity: 0; bottom: -200px;}
    100%{opacity: 1;}
}

.work-card-h2{
    font-family: 'ABeeZee',sans-serif;
    font-size: 24px;
    color: rgba(45, 96, 153, 1);
    margin-bottom: 5px;
}

.middle-p{
    font-family: 'Lobster',sans-serif;
    font-size: 35px;
    color: rgba(186, 186, 186, 1);
    padding: 30px;
    text-align: center;
    margin: 0;
}


.middle-contact{
    background-color: rgba(186, 186, 186, 1);
   
}


#pointer{
    position: absolute;
    animation-name: pointer-anim;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes pointer-anim{
    0%{bottom: 0px;}
    100%{bottom: 20px;}
    
}
.middle-a{
    color: rgba(45, 96, 153, 1);
    padding: 6px;
    text-align: center;
    display: block;
    font-family: 'ABeeZee',sans-serif;
}

.work-carousel-div{
    width: 60%;
    position: relative;
    top: 200px;
    height: 400px;
    display: flex;
    align-items: center;
    left: 20%;
    justify-content: space-evenly;
}


.view-p{
    position: relative;
    top: 160px;
    font-family: 'Lobster',sans-serif;
    color: white;
    font-size: 32px;
    text-align: center;
}

.carousel-img{
    height: 86%;
    width: 69%;
    position: absolute;
    transition: opacity 0.7s ease-out;
    z-index: 3;
    box-shadow: 4px 5px 30px black;
}

.inner-carousel{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex: 0 0 80%;
    height: 100%;
    background-color: #325b8a;
}


.arrows{
    height: 30px;
    cursor: pointer;
    flex: 0 0 3%;
}

img[alt='left-arrow']{
    flex: 0 0 3%;
}

img[alt='right-arrow']
{

    flex:0 0 3%;
}

.carousel-card-p{
    position: absolute;
    bottom: 28px;
    font-family: 'ABeeZee',sans-serif;
    color: rgb(255 255 255);
    margin: 0;
    font-size: 20px;
    width: 69%;
    z-index: 5;
    text-align: center;
    background-color: #5f5959c4;
    height: 20%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}



.carousel-img:hover{
    filter: brightness(60%);
}

.carousel-img:hover + .carousel-card-p{
 opacity: 1;
}

.containerS{
    position: relative;
    top: 250px;
   
}


.our-work{
     background-color: #a4a4a5!important;
}

.our-work-sub
{
    background-color: #325b8a!important;
}


@media screen and (max-width:814px) {
    .div-main{
        bottom: -150px;
    }

    .work-carousel-div{
        width: 80%;
        left: 10%;
    }
}


@media screen and (max-width:640px) {
    .div-main{
        bottom: -350px;
        flex-direction: column;
    }


    .view-p{
        top: 300px;
    }
    

    .work-carousel-div{
        top: 300px;
    }
    .containerS{
        top:320px;
    }
}

@media screen and (max-width:490px) {
    .intro-title{
        font-size: 25px;
    }
  
}