:root{
    --primary-color: rgb(240, 225, 186, 53%);
    --main-font: 'ABeeZee', sans-serif;
    --special-font: 'Lobster', cursive;
}

body{
    background-color: var(--primary-color);
    font-family: var(--main-font);
    margin: 0px;
}


.plus p, .horizontal-plus p{
    text-align: center;
    color: white;
    font-family: 'ABeeZee', sans-serif;
    font-size: 22px;
}

.horizontal-plus{
    height: 30px;
    width: 30px;
    position: absolute;
    background-color: #187D9D;
    border-radius: 50%;
    bottom: 5px;
    right: 80%;
    cursor: pointer;
    transition: transform 0.6s ease;
}

.hidden{
    display: none;
}


@media screen and (max-width:922px){
.cards{
    flex: 0 1 45%;
    margin: 10px;
}
.horizontal-cards-div{
    flex: 0 1 45%;
    margin: 10px;
}
}


@media screen and (max-width:450px) {
    .cards{
        flex: 0 0 100%;
        
    }
    .horizontal-cards-div{
        flex: 0 0 100%;
        
        
    }
}
/*end*/

/* seasonal vacation  */

#seasonal_vacation_title{
    font-family: var(--special-font);
    font-size: 3rem;
    text-align: center;
    margin-top: 30px;
}

.seasonal_vacation_card_container{
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.seasonal_vacation_card{
    width: 380;
    height: 480px;
    background-color: #FAF2DC;
    margin: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);;
    border-radius: 5px;
    transition: transform 0.5s ease-in-out;
    position: relative;
}

.seasonal_vacation_card:hover{
    transform: scale(1.03);
}

.seasonal_vacation_card_img_container img{
    width: 380px;
    height: 300px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.seasonal_vacation_card_text{
    text-align: center;
    margin-top: 26px;
    font-size: 40px;
}

.seasonal_vacation_card_text_container a{
    position: absolute;
    bottom: 10px;
    right: 30px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}
