@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400&family=Lobster+Two&family=Montserrat:wght@400;600&family=Roboto:wght@100;400&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&family=Montserrat:wght@400;600&family=Roboto:wght@100;400&family=Ubuntu&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
/* @import url("https://fonts.googleapis.com"); */

/* -----------------------HEADER--------------------- */
#location{
  width: 100px;
  height: 100px;
}
.navbar{
  background-color: red;
}
.toggle-buttonn{
  position: absolute;
  /* top: .70rem; */
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-buttonn .bar{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
.navbar1{
  display: flex;
  align-items: center;
}

.navbar2{
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.navbar1 ul{
  /* position: absolute; */
  list-style: none;
  display: flex;
  flex-direction: row;
}
.navbar1 a{
  position: relative;
  text-decoration: none;
  margin-left: 30px;
  color: white;
  font-weight: bold;
  font-family: 'Roboto';
}
.l::before{
  content:'';
  position:absolute;
  top:100%;
  left:0;
  width:0;
  height:2px;
  background: #fff;
  transition: .3s;
}

.l:hover::before{
  width: 100%;
}
header{
  position:fixed;
  background: transparent;
  background-color: #0000003b;
  top:0;
  left:0;
  width: 100%;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  z-index:100;
}

.booking{
  background: white;
  color: black;
  opacity: 0.5;
  border: 1px white solid;
  border-radius: 5px;
  /* width: 100%; */
  padding-left: 30px;
  padding-right: 30px;
  height: 38px;
}

.booking:hover{
  background: white;
  opacity: 0.7;
}
.lang-menuu{
  margin-left: 20px;
  position: relative;
}

.lang-menuu ul{
  background-color: white;
  padding: 6px;
  border: 1px solid #f8f8f8;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
  /* list-style: none; */
  display: none;
  border-radius: 5px;
  position: absolute;
  top: 18px;
  right: 0;
}

.lang-menuu ul li a {
  width: 120px;
  display: block;
  padding: 5px;
}

.lang-menuu ul li{
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.lang-menuu ul li a:before{
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

.lang-menuu:hover ul{
  display: block;
}
a{
  text-decoration: none;
}
.lang-menuu ul li a:hover{
  background-color: #f2f2f2;
}

#de::before{
  background-image: url(https://flagsapi.com/BE/flat/32.png);
}

#it::before{
  background-image: url(https://flagsapi.com/IT/flat/32.png);
}

#fr::before{
  background-image: url(https://flagsapi.com/FR/flat/32.png);
}

#es::before{
  background-image: url(https://flagsapi.com/ES/flat/32.png);
}

#en::before{
  background-image: url(https://flagsapi.com/US/flat/32.png);
}
.selected-langg{
  cursor:pointer;
  display: flex;
  justify-content: space-between;
  background-image: url(https://flagsapi.com/US/flat/32.png);
}

.selected-langg::before{
  content:'';
  display: block;
  width:32px;
  height:32px;
  /* background-image: url(https://flagsapi.com/US/flat/32.png); */
}
*{
  
  box-sizing: border-box;
}

/*---------------------------------BUTTONNNNNN---------------------------*/
:root{
  --dark-icon-color: #fff;
  --dark-color:#2b2b2b;
  --light-color:#f7f7f7;
  --light-icon-color:#FFDE59;
}
.btnn{
  background-color: #fff;
  width:70px;
  height:33px;
  border-radius: 3em;
  margin-right: 20px;
  box-shadow: inset 0 8px 60px rgba(0,0,0, .1), 
              inset 0 8px 8px rgba(0,0,0, .1),
              inset 0 -4px 4px rgba(0,0,0, .1);
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.btnn__indicator{

  background-color: #fff;
  width:30px;
  height:30px;
  border-radius:20px;
  position: absolute;
  box-shadow: 0 8px 40px rgba(0,0,0, .2);
  transition: transform .3s ease;
}

.btnn__icon-container{
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btnn__icon{
  color: var(--light-icon-color);
}

.btnn__icon{
  font-size: 20px !important;
}
.elements ul li a{
  text-decoration: none;
  color: white;
}
/*----------------------Winter mode----------------*/
body.wintermode{
  /* background-image: url("../Images/winter.jpeg"); */
}

.lang-menuu ul li a {
  text-decoration: none;
}
/* .wintermode .btnn{
  box-shadow: inset 0 8px 60px rgba(0,0,0, .3), 
              inset 8px 0  8px rgba(0,0,0, .3),
              inset 0 -4px 4px rgba(0,0,0, .3);
}
.wintermode .btnn__indicator{
  transform: translateX(40px);
  background-color: var(--dark-color);
  box-shadow: 0 8px 40px rgba(0,0,0, .3);
}

.wintermode .btnn__icon{
  color:var(--dark-icon-color);
} */

/* --------------ANIMATION----------------- */
.btnn__icon.animated{
  animation: spin 0.5s;
}

@keyframes spin{
  to{
    transform: rotate(360deg);
  }
}



/* ----------------------SEARCH-------------------------------- */
.search-barr
{
  width: 100%;
  background-color: rgba(255,255,255,0.4);
  border: 1px solid rgb(169, 169, 62);
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.search-barr img{
  width:40px;
  height: 35px;
}

.search-barr input{
  background: transparent;
  flex: 1;
  border:0;
  outline: none;
  padding: 4px 5px;
  font-size: 20px;
}

.search-barr button{
  border: 0;
  width:40px;
  height:40px;
  background: transparent;
  cursor: pointer;
}

/* ------------------RESPONSIVE---------------- */
  @media only screen and (max-width: 850px) and (min-width: 601px){
    .toggle-buttonn{
      display: flex;
    }
    .elements ul{
      position: absolute;
      display: flex;
      flex-direction: column;
      width:100%;
      text-align: center;
      padding-left: 0;
      margin: 0;
      background-color: rgb(130 169 164 / 90%);;
    }

    .elements ul li:hover{
      width: 100%;
      background-color: #2b2b2b44;
    }
    .elements ul li{
      padding: 15px;
    }
    .elements.active{
      display: flex;
    }
    .elements{
      display: none;
      width: 100%;
    }
    .navbar1{
      flex-direction: column;
      align-items: flex-start;
    }
    .btnn{
      width: 80px;
    height: 33px;
    margin-right: 367px
    }
    /* .wintermode .btnn__indicator{
      transform: translateX(50px);
    } */
    .booking{
      position: absolute;
      margin-left: 124px; 
    }

    .lang-menuu{
      position: absolute;
      margin-left: 311px;
    }
  }

  @media screen and (max-width: 600px){
    .toggle-buttonn{
      display: flex;
    }
    .elements ul{
      position: absolute;
      display: flex;
      flex-direction: column;
      width:100%;
      /* height: 202px; */
      text-align: center;
      padding-left: 0;
      margin: 0;
      background-color: rgb(130 169 164 / 90%);;
    }

    .elements ul li:hover{
      width: 100%;
      background-color: #2b2b2b44;
    }
    .elements ul li{
      padding: 15px;
    }
    .elements.active{
      display: flex;
    }
    .elements{
      display: none;
      width: 100%;
    }
    .navbar1{
      flex-direction: column;
      align-items: flex-start;
    }
      .btnn{
        border-radius: 50%;
        width: 10px;
        height: 10px;
      }

      /* .wintermode .btnn__indicator{
        transform: translateX(0);
        background-color: var(--dark-color);
        box-shadow: 0 8px 40px rgba(0,0,0, .3);
      } */

      .booking{
        margin-left: 30px;
        margin-right: 165px;
        width: 146px;
      }
      
      .lang-menuu{
        position: absolute;
        margin-left: 244px;
        /* margin-left:290px; */
      }
  }

  @media screen and (max-width:390px){
    .booking{
      margin-right: 0;
      font-size: 13px;
      height: 42px;
    }
    #sum{
      margin-left: 43px !important;
    }
    .IndexTitle p{
        font-size: 70px !important;
    }
    .btnn{
      margin-top: 511px;
      display: none;
    }
    .btnn.active{
      position: absolute;
      display: block;
    }
    .lang-menuu{
      margin-left: 0;
      position: absolute;
      margin-top: 532px;
      margin-left: 0;
      display: none
    }
    .lang-menuu.active{
      display: block;
      margin-left: 59px;
    }
    .navbar2{
      margin-right: 94px;
    }
    .booking{
      width: 109px;
      margin-left: 0;
    }
    .elements ul{
      height: 244px;
    }
  }
  @media only screen and (max-width: 500px) and (min-width: 391px){
    .booking{
      margin-right: 0;
      font-size: 13px;
    }
    #sum{
      margin-left: 100px !important;
    }
    .lang-menuu{
      margin-left: 0;
      position: absolute;
      margin-top: 532px;
      margin-left: 0;
      display: none
    }
    .lang-menuu.active{
      display: block;
      margin-left: 90px;
    }
    .navbar2{
      margin-right: 131px;
    }
    .booking{
      width: 132px;
    }
    .elements ul{
      height: 244px;
    }
  }

/* -----------------------------ABOUT US------------------------------- */
.titlee{
  background-image: url('../Images/aboutUsImg.jpeg');
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.titlee p{
  font-family: 'Lobster Two';
  font-size: 100px;
  color: white;
  margin-top: 0;
  padding-top: 200px;
  text-align: center;
}

body{
  margin: 0;
  padding: 0;
  min-height: 70vh;
}
.aboutTravAl{
  background-color: #A59B8D;
}

.titlee{
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}
#join-us{
  font-weight: 650;
}
.ourMission{
  padding: 30px;
  margin: 40px;
  box-shadow: 0 8px 20px rgb(22 35 49 / 40%)
}

.title{
  font-family: 'Lato';
  text-align: center;
  /* color: #68654e; */
  color: rgb(120, 18, 18);
  font-weight:600;
  font-size: 40px;
}
.content{
  font-family: 'Lato';
  /* color: white; */
  color: #68654e;
  font-weight: 400;
  font-size: 17px;
  text-align: center;
}

.shortNav{
  background-color: #d6d6d6;
  margin: 0;
}

.shortNav ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px;
  color: #68654e;
  margin: 0;
}

.shortNav ul li a{
  color: #68654e;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Lato';
}

.travAlCards{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* margin: 40px; */
}

.ourCompany, .ourGoal{
  background-color: #d6d6d6;
  padding: 30px;
  margin: 40px;
}
.ourCompany:hover, .ourGoal:hover{
  box-shadow: 0 8px 20px rgb(22 35 49 / 40%)
}
.ourCompany h1{
  text-align: center;
  color: #296C81;
}
.ourGoal h1{
  text-align: center;
  color: rgb(120, 18, 18);
}

.ourCompany p, .ourGoal p{
  font-family: 'Lato';
  color: rgb(3, 40, 80);
  margin: 0;
}

.welcome{
  background-color: #296C81;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  padding: 20px;
  box-shadow: rgb(22 24 36 / 50%) 0px 8px 20px;
}
.text{
  font-family: 'Lato';
  text-align: center;
  color: white;
  font-size: larger;
}

.welcomeText{
  font-family: 'Lobster two';
  text-align: center;
  color: white;
  font-size: 40px;
}

.inIcon{
  font-size: 50px !important;
}
@media screen and (max-width:789px){
  .travAlCards{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* margin: 40px; */
  }
  .ourCompany, .ourGoal{
    background-color: #D9D9D9;
    padding: 30px;
    margin-right: 40px;
    margin-left: 40px;
  }
  .ourCompany{
    margin-bottom: 0;
  }
  #t1, #t2{
    left: 20px;
    right: 20px;
  }
}
.t{
  display: flex;
  justify-content: right;
  margin-top: 5px;
  margin-bottom: 0;
}
.h1__icon{
  font-size:30px !important;
}
#t1, #t2{
  width: 280px;
  display: flex;
  justify-content: right;
  position: relative;
  overflow: visible;
	margin-left: -5vw;
	margin-right: -5vw;
	position: relative;
}



/* ------------------------------------------OUR STAFF-------------------------------------- */
#bs{
  background-color: #dbdbdb;
}

#meetAndGreet{
  text-align: center;
  font-size: 35px;
  font-family: 'Lato';
  color: #063456;
  font-weight: 600;
}
.staff-background-cards{
  height: 220px;
  margin-top: 130px;
  background-color: #063456;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 200px;
}


.staff-body-cards{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  height: 340px;
  bottom: 70px;
  /* object-fit: cover;  */
  background-position: center; 
  background-size: cover;
  overflow: visible; 
  transition: transform 0.3s;
}
.StaffTitle{
  background-image: url(../Images/staff.jpg);
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
}
.StaffTitle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.5); 
  opacity: 0.7; 
}
.StaffTitle p {
  position: relative;
  text-align: center;
  align-items: center;
  font-family: 'Lato';
  color: white;
  margin: 0;
  font-size: 90px;
  padding-top: 200px;
}
.staff-body-cards::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.25);
}

.staff-body-cards:hover {
  transform: translateY(-20px); /* Move card up on hover */
}
.social-ribon{
  position: relative;
  width: 40px;
  height: 340px;
  background-color: #9FAFBB; 
}
.social__icon{
  font-size: 20px;
}
.social-ribon ul{
  list-style: none;
  display: inline-block;
  padding-left: 10px;
  margin-top: 105px;
  margin-right: 20px;
  /* padding-right: 3px; */
}
.social-ribon ul li a{
  text-decoration: none;
  color: white;
}
.social-ribon ul li{
  padding-bottom: 20px;
}
.btnn.disabled{
  pointer-events: none;
  opacity: 0.5;
}
.name{
  /* position: absolute; */
  margin-left: 43px;
  font-family: 'Lato';
  font-weight: bolder;
  color: white;
  position: relative;
  margin-top: 165px;
  font-size: 26px;
}
.profession{
  margin-left: 43px;
  font-family: 'Lato';
  font-weight: bolder;
  color: white;
  position: relative;
  font-weight: 100;
  font-size: 19px;
  margin-top: -25px;
}
.info{
  color: white;
  position: relative;
  font-family: 'Lato';
  padding: 10px;
  visibility: hidden;
  /* opacity: 0; */
  transition: opacity 0.3s, visibility 0s 0.3s; 
}

.staff-body-cards:hover .info {
  visibility: visible;
  /* opacity: 1; */
  transition-delay: 0s;
}

@media screen and (max-width:700px){
  .StaffTitle p {
    font-size: 60px;
  }
}

@media screen and (max-width:975px){
  .staff-background-cards{
    color:#dbdbdb;
    flex-direction: column;
    align-items: center; 
    height: auto;
    /* margin-top: 100px;
    margin-bottom: 100px; */
    row-gap: 70px;
    margin-bottom: 110px;
  }

  .staff-body-cards{
    display: flex;
    flex-direction: column;
    overflow: visible;
  }

  .social-ribon{
    width: 300px;
    height: 40px;
  }
  .staff-body-cards:hover {
    transform: translateY(-20px); 
  }

  .social-ribon ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
  }
  .social-ribon ul li{
    padding-bottom: 0;
  }
}
.containerS{
  background-color: #686359d6;
}

/* ---------------------------------Homepage PAGE------------------------------------ */
/*featured tours*/
.featured-tours{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 38px;

}
.featured-imgs
{
   height: 80%;
   width:100%;
   transition: height 0.3s ease-in;
  
   /* border-top-left-radius: 10%;
   border-top-right-radius: 10%; */
}

.horizontal-featured-imgs{
   height: 100%;
   width: 80%;
   transition: width 0.3s ease-in;
   /* border-radius: 10%; */
}
.cards{
  position: relative;
   width: 20%;
   background-color: #F0E1BA;
   display: flex;
   height: 350px;
   flex-direction: column;
   flex: 0 1 23%;
   /* border-radius: 10%; */
}
.horizontal-cards{
   height: 150px;
   background-color: #F0E1BA;
   display: flex;
   position: relative;
}
.horizontal-cards-div{
   display: flex;
   flex-direction: column;
   width: 30%;
   height: 350px;
   justify-content: space-between;
   flex: 0 1 23%;
}

.card-p, .hidden{
  padding: 7px;
  font-family: 'ABeeZee', sans-serif;
  color: #187D9D;
  font-size: 15px;
  margin-bottom: 0;
  overflow: hidden;
}

.visit{
  position: absolute;
  top: 70px;
  color: aliceblue;
  font-family: 'Lobster', cursive;
  font-size: 40px;
  text-align: center;
  width: 100%;
}

.cards:hover .text-div
{
  height: 60%;
}

.cards:hover .plus , .horizontal-cards:hover .horizontal-plus
{
 transform: rotate(180deg);
}

.cards:hover .hidden
{
  /* display: block; */
  opacity: 1;
}
.horizontal-cards:hover .horizontal-text-div
{
  width: 50%;
}

.horizontal-cards:hover .hidden
{
  /* display: block; */
  opacity: 1;
}

/* .cards:hover{
  cursor: pointer;
}

.horizontal-cards:hover{
  cursor: pointer;
} */

.cards .text-div
{
  background-color:#F0E1BA;
  position: absolute;
  width: 100%; 
  transition: height 0.6s ease-in;
  height: 30%;
  bottom: 0;
}

.horizontal-text-div{
  background-color:#F0E1BA;
  position: absolute;
  width: 40%;
  height: 100%;
  transition: width 0.6s ease-in;
  right: 0;
}

.plus{
  height: 30px;
  width: 30px;
  position: absolute;
  top:-8px;
  right: 5px;
  background-color: #187D9D;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.6s ease;
 
}


.plus p, .horizontal-plus p{
  text-align: center;
  color: white;
  font-family: 'ABeeZee', sans-serif;
  font-size: 22px;
}

.horizontal-plus{
  height: 30px;
  width: 30px;
  position: absolute;
  background-color: #187D9D;
  border-radius: 50%;
  bottom: 5px;
  right: 95%;
  cursor: pointer;
  transition: transform 0.6s ease;
}

.hidden{
 opacity: 0;
 transition: opacity 1s ease-in;
 text-wrap: nowrap;
}


.italics{
  font-style: italic;
  padding-left: 7px;
  padding-top: 7px;
  font-family: 'ABeeZee', sans-serif;
  color: #187D9D;
  font-size: 10px;
  margin-bottom: 0px;
}

#more-div{
  background-color:#F0E1BA;
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
}

#more
{
  font-family: 'ABeeZee', sans-serif;
  text-align: center;
  padding: 10px;
  font-size: 12px;
  margin-bottom: 0px;
  color: #187D9D;

}

@media screen and (max-width:922px){
.cards{
  flex: 0 1 45%;
  margin: 10px;
}
.horizontal-cards-div{
  flex: 0 1 45%;
  margin: 10px;
}
}


@media screen and (max-width:450px ) {
  .cards{
      flex: 0 0 100%;
      
  }
  .horizontal-cards-div{
      flex: 0 0 100%;
  }
}
.IndexTitle{
  background-image: url('../Images/seashoree.jpg');
  height: 600px;
  padding-top: 170px;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
}
.IndexTitle p{
  text-align: center;
  font-family: 'Lobster Two';
  font-size: 90px;
  color: white;
}
#sum{
  margin-top: -60px;
  margin-left: 180px;
}

#seasonal_vacation {
	font-family: "ABeeZee", sans-serif;
    background-color: #F0E1BA;
    margin-top: 90px;
}
.carousel {
	margin: 30px auto 60px;
	padding: 0 80px;
}
.carousel .carousel-item {
	text-align: center;
	overflow: none;
}
.carousel .carousel-item h4 {
    font-size: 30px;
    text-align: center;
	font-family: 'ABeeZee', sans-serif;
    margin-bottom: 20px;
}
.carousel .carousel-item img {
    width: 100%;
    height: 230px;
	display: inline-block;
}

.carousel .carousel-item .more-btn {    
	border-radius: 0;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
	background: #828184aa;
	padding: 6px 15px;
	margin-top: 25px;
  color: #fff;
    
}

.carousel .carousel-item .more-btn:hover {
	background: #8c5bff;
  
}

.carousel .carousel-item .more-btn i {
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
}
.carousel .thumb-wrapper {
    height: 100%;
	margin: 5px;
	text-align: right;
	background: #FAF2DC;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.1);   
}
.carousel .thumb-content {
	padding: 15px;
	font-size: 13px;
}
.carousel-control-prev, .carousel-control-next {
	height: 44px;
	width: 44px;
	background: none;	
	margin: auto 0;
	border-radius: 50%;
	border: 3px solid rgba(0, 0, 0, 0.8);
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 36px;
	position: absolute;
	top: 50%;
	display: inline-block;
	margin: -19px 0 0 0;
	z-index: 5;
	left: 0;
	right: 0;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: none;
	font-weight: bold;
}
.carousel-control-prev i {
	margin-left: -3px;
}
.carousel-control-next i {
	margin-right: -3px;
}
.carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 4px;
	border: none;
}
.carousel-indicators li {	
	background: #ababab;
}
.carousel-indicators li.active {	
	background: #555;
}

.seasonal_vacation_heading{
    font-family: "Lobster Two", cursive;
    font-size: 50px;
    margin-bottom: 30px;
}

@media screen and (max-width: 998px) {
    /* #seasonal_vacation{
        margin: 0px;
    } */

    .carousel .carousel-item img {
        width: 100%;
        height: 200px;
    }
    .carousel .carousel-item h4 {
        font-size: 25px;
        margin-bottom: 10px;
    }
    .carousel .carousel-item .btn {
        margin-top: 15px;
    }
    .carousel-control-prev, .carousel-control-next {
        height: 34px;
        width: 34px;
    }
    .carousel-control-prev i, .carousel-control-next i {
        font-size: 22px;
        margin-top: -12px;
    }
    .carousel .thumb-wrapper {
        height: auto;
        margin: 5px;
        text-align: center;
    }
    .carousel .thumb-content {
        padding: 5px;
    }

}

@media screen and (max-width: 400px) {
    .seasonal_vacation_heading{
        font-size: 20px;
        margin-bottom: 8px;
    }

    .carousel .carousel-item img {
        width: 100%;
        height: 150px;
    }

    .carousel .carousel-item h4 {
        font-size: 15px;
        margin-bottom: 0px;
    }

    .carousel .carousel-item .more-btn {
        margin-top: 5px;
        font-size: 10px;
        padding: 5px;
    }

    .carousel-control-next ,
    .carousel-control-prev {
        display:  none;
    }

    .carousel {
        padding: 0;
    }

    .carousel .thumb-wrapper {
        width: 100%;
        text-align: center;
    }
}

/* -------------------------------------FOOTER--------------------------------------- */
.shore-part{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-image:url('../Images/shore.png'); */
  background-size: cover;
  /* height: 170px; */
  background-position: center;
}
.sub{
  display: flex;
    flex-direction: column;
    font-family: 'Lato';
    /* color: #6d4727; */
    margin: 47px;
    width: 500px;
    background-color: #dfd5c7a8;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 16px;
    align-items: center;
}

.sub h1{
  font-size: 55px;
  font-weight: bold;
  color: #523517;
  margin: 0;
}
.sub p {
  margin-top: -13px;
  margin-left: 70px;
  font-size: 22px;
  color: #523517;
  font-weight: 600;
}

.btn{
  margin-right: 100px;
  color: #5a432c;
  font-family: fantasy;
  background-color: #E8E8E8;
  border: 1px white solid;
  opacity: 0.9;
  width: 171px;
  height: 60px;
  font-size: large;
  border-radius: 10px;
}

.btn:hover{
  background-color: #d0cfcf;
}

.shore2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-image: url("../Images/sand.jpg"); */
  height: 100px;
  /* background-size: cover;
  background-position: center; */
}

.container2{
  background-image: url("../Images/sand.jpg");
  background-size: cover;
  background-position:center;
}
.shore2 ul li{
  list-style: none;
  display: inline;
}

.footer__icons{
  font-size:30px ;
  margin: 10px;
}
.others span{
  cursor:pointer;
  text-decoration: none;
  color: rgb(78 27 27);
  font-weight: 600;
  margin: 7px;
  font-size: 20px;
  font-family: 'Lato';
}
/* .others a:visited{
  color:rgb(78, 27, 27);
} */
.others span:hover{
  background-color: rgb(128, 100, 66);
  border-radius: 10px;
  padding: 7px;
  color: white;
}

.others{
  margin: 20px;
}

.cop{
  font-family: 'Roboto';
  color: #fff;
  text-align: center;
  margin-top: -2px;
  font-weight: 600;
  color: rgb(78, 27, 27);
  margin-bottom: 0;
}

.fa-square-facebook{
  color: #1a3d7a;
}
.fa-envelope{
  color:rgb(96, 43, 43);
}
@media screen and (max-width: 700px){
  
  .sub h1{
    font-size: 35px;
  }

  .sub p {
    margin-top: -4px;
    margin-left: 60px;
    font-size: 15px;
  }

  .btn {
    margin-right: 30px;
    color: #5a432c;
    background-color: #E8E8E8;
    border: 1px white solid;
    opacity: 0.9;
    text-align: center;
    width: 140px;
    height: 50px;
    font-size: medium;
    border-radius: 10px;
  }
  .shore2{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-image: url("../Images/sand.jpg"); */
    height: 160px;
    /* background-size: cover;
    background-position: center; */
  }
  
  .others span{
    display: list-item;
    list-style: none;
    text-align: center;
    row-gap: 10px;
    font-size: 18px;
  }
  /* .others span:link{
    font-size: 18px;
  } */
  .others{
    margin: 0;
  }
  hr{
    margin-top: 40px;
  }
}
@media screen and (max-width:500px){
  .sub h1{
    font-size: 30px;
  }
  .sub p {
    margin-left: 30px;
    font-size: 14px;
  }
}
/* ---------------------------------MAP-------------------------------- */
/* .circle{ */
  /* border-radius: 50%; */
  /* background-color: transparent; */
  /* width: 56px;
  height: 56px; */
  /* margin-left: 200px;
  margin-top: 140px; */
  /* position: absolute;
}
.map{
  display: flex;
}





/*------------------------------------------TOURS--------------------------------*/
.tours-bg{
  background-color: #F0E1BA;
  margin: 0px;
  background-image: none!important;
}
#main-img-tours{
  height:600px;
  width:100%;
  filter: brightness(65%);
  margin: 0;
}

#main-p-tours{
  font-family: 'Lobster', cursive;
  position: absolute;
  color: rgba(255, 255, 255, 45%);
  font-size: 64px;
  text-align: center;
  margin: 0%;
  top: 30%;
  width: 100%;
}

#browse-p{
  font-family: 'Lobster', cursive;
  position: absolute;
  color: white;
  font-size: 24px;
  text-align: center;
  margin: 0%;
  top: 80%;
  width: 100%;
  animation-name: fly-up;
  animation-duration:1.4s;

}

@keyframes fly-up{
  0% {opacity: 0; top:100%}
  100% {opacity: 1;}
}

.more{
  position: relative;
}

.div-cards{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;

}

.card-img{
  
  height: 100%;
  width: 100%;
  /* padding: 11px; */
 filter: brightness(70%);
}

.card{
  display: flex;
  flex: 1 1 30%; 
  justify-content: space-evenly;
  margin-bottom: 15px;
  perspective: 1000px;
  position: relative;
  height: 200px;
  
}

.inner{
  position: relative;
  width: 300px;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow:4px 4px 6px gray;
}

.card:hover .inner{
  transform: rotateY(180deg);
}

.front-card, .back-card{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front-card{
  background-color:#187D9D;
  /* background-image: linear-gradient(rgb(61, 121, 218), rgb(151, 173, 225)); */
}

.back-card{
  background-color:#187D9D;
  color: aliceblue;
  transform: rotateY(180deg);
}

.front-p{
  position: absolute;
  color: white;
  -webkit-text-stroke:0.6px rgb(128, 70, 29);
  top: 0;
  right: 20px;
  font-family: 'Lobster', cursive;
  font-size: 21px;
  /* background-color: whitesmoke; */
}

.tag{
  font-family: 'ABeeZee',sans-serif;
  font-style: italic;
  font-size: 12px;
}

.back-p{
  font-family: 'ABeeZee',sans-serif;
  margin-bottom: 1px;
}

.hr-tours{
  width: 60%;
    margin-top: 0;
}


.price{
  font-family: 'ABeeZee',sans-serif;
  display: inline;
  color: #187D9D;
  position: absolute;
  left: 40px;
  bottom: -3px;
}

#price-tag{
  position: relative;
  width: 70px;
  height: 70px;
}

.tap-more{
  margin: 0; font-size: 10px;
}


.back-card:hover{
  cursor: pointer;
}
.price-div{
  
  width: 120px;
  height: 57px;
  bottom: 0px;
  position: relative;


}
#closing-x
{
  margin-top:-4px;
  margin-right: -2px;
  cursor: pointer;
  height:30px;
  width:30px;
}

#side-filter{
background-color: #3b7971;
box-shadow: 3px 2px 5px #343939d4;
display: inline-flex;
position: relative;
top:-16px;
left: -9px;
transition: left 0.7s ease;

}
#filter-img{
  padding: 10px;
  max-height: 55px;
}

#side-filter:hover{
  left: 0px;
}
#filter-div{
   display: none;
   flex-direction: column;
   color: #F0E1BA;
}
.filter-p{
 font-family: 'ABeeZee', sans-serif;
 text-align: center;
 margin-bottom: 0;
}

.initial-div{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#categories-form{
  padding: 5px;
}

.days-form{
display: none;
flex-direction: column;
align-items: center;
}


label[for="numDays"]
{
  font-family: 'ABeeZee', sans-serif;
  text-align: center;
}

.price-form{
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100px;
}

#numDays{
  margin-top: 6px;
  width: 30%;
  height: 22px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px #201c1c;
  border: 2px solid #F0E1BA;
  background-color: #F0E1BA;
}

option{
  text-align: center;
  color: #3b7971;
  font-family: 'ABeeZee',sans-serif;
}

.headWrap{
  height: 600px!important;
}

.filter-selections{
  flex: 0 0 60%;
  font-family: 'ABeeZee',sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#filter-btn, #remove-filter{
  background-color: #F0E1BA;
  height: 26px;
  border-radius: 10px;
  font-family: 'ABeeZee',sans-serif;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #3b392b;
 
}



.active:hover{
  box-shadow: 1px 2px 11px #3b392b;
}

.range{
height: 39px;
border-radius: 30px;
border: 2px solid #f0e1ba;
display: flex;
justify-content: space-around;
width: 92%;
flex-wrap: wrap;
align-content: center;
}

input[type="range"]
{
  accent-color:#f0e1ba;
}

.value{
  font-family: 'ABeeZee',sans-serif;
  background-color: #f0e1ba;
  line-height: 19px;
  padding: 4px;
  border-radius: 9px;
}


/*

#categories-form{
  color: #187D9D;
  position: relative;
  align-items: center
}
*/
.radio-bt{
  /* -webkit-appearance: none; */
  appearance: none;
  margin: 10px;
  width: 20px;
  height: 20px;
  border-radius:12px;
  cursor:pointer;
  vertical-align: middle;
  box-shadow: hsla(0,0%,100%,.15) 0 1px 1px, inset hsla(0,0%,0%,.5) 0 0 0 1px;
  background-color:hsla(0,0%,0%,.2);
  background-image: radial-gradient( hsla(200,100%,90%,1) 0%, hsla(200,100%,70%,1) 15%, hsla(200,100%,60%,.3) 28%, hsla(200,100%,30%,0) 70% );
  background-repeat: no-repeat;
  transition: background-position .15s cubic-bezier(.8, 0, 1, 1),
  transform .25s cubic-bezier(.8, 0, 1, 1);
outline: none;
}


.radio-bt:checked{
  transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1),
  transform .25s cubic-bezier(0, 0, .2, 1);
  background-position: 0 0;
}

.radio-bt:active{
 transform: scale(1.5);
transition: transform .1s cubic-bezier(0, 0, .2, 1);
}

.radio-bt,
.radio-bt:active{
  background-position: 0 24px;
}


.radio-bt:checked ~ .radio-bt,
.radio-bt:checked ~ .radio-bt:active{
  background-position: 0 -24px;
} 




/*----------------------------------------Individual tours--------------------------------*/
  .individual-body{
    margin: 0;
    background-image: none!important;
    background-color: bisque;
  }


  #main-img-individual{
    width: 100%;
    height: 550px;
    filter: brightness(70%);
  }

  #main-p-individual{
    font-family: 'Lobster', cursive;
    position: absolute;
    color: rgb(200, 192, 192);
    font-size: 64px;
    text-align: center;
    margin: 0%;
    top: 30%;
    width: 100%;
  }

  #small-descr{
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 41px;
    text-align: center;
    margin: 0%;
    top: 60%;
    width: 100%;
    animation-name: fly;
    animation-duration: 2s;
  }


  @keyframes fly{
    0% {opacity: 0; top:100%}
    100% {opacity: 1;}
  }


  .main-content{
    display: flex;
  }

  main{
    flex: 0 0 60%;
    padding: 10px 50px;
    font-family: 'ABeeZee',sans-serif;
    line-height: 25px;
  }

  aside{
    flex:0 0 40%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
  }

  #calendar-i, #itinerary-i, #arrow-i{
  height: 15px;
  width: 15px;
  }

  #nextDates, #itinerary{
    display: inline ;
    
    margin-left: 20px;
  }

  h5{
    font-family: 'ABeeZee',sans-serif;
    padding-left: 15px;
    text-align: center;
  }


  .input-div{
    display: grid;
    grid-template-columns: 190px 113px;
    grid-template-rows: 31px 32px;
    padding: 6%;
    border: 2px solid  #6396b4;
    width: 375px;
    box-shadow: 2px 2px #88b2da;
    align-self: center;
  }


  .label-indiv , .input-indiv
  {
    margin-bottom: 10px;
    font-family: 'ABeeZee',sans-serif;
    font-size: 13px;
  }


  .submit-indiv
  {
    width: 100px;
    height: 30px;
    border: 2px solid #3f76ce;
    border-radius: 10px;
  }



  .avg{
    font-family: 'ABeeZee',sans-serif;
    text-align: center;
    
  }
  .rating {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.3rem;
    --stroke: #666;
    --fill: #ffc73a;
    align-self: center;
    margin-top: 10px;
  }

  .rating input {
    appearance: unset;
  }

  .rating label {
    cursor: pointer;
  }

  .rating svg {
    width: 3rem;
    height: 3rem;
    overflow: visible;
    fill: transparent;
    stroke: var(--stroke);
    stroke-linejoin: bevel;
    stroke-dasharray: 12;
    animation: idle 4s linear infinite;
    transition: stroke 0.2s, fill 0.5s;
  }

  @keyframes idle {
    from {
      stroke-dashoffset: 24;
    }
  }

  .rating label:hover svg {
    stroke: var(--fill);
  }

  .rating input:checked ~ label svg {
    transition: 0s;
    animation: idle 4s linear infinite, yippee 0.75s backwards;
    fill: var(--fill);
    stroke: var(--fill);
    stroke-opacity: 0;
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
  }

  @keyframes yippee {
    0% {
      transform: scale(1);
      fill: var(--fill);
      fill-opacity: 0;
      stroke-opacity: 1;
      stroke: var(--stroke);
      stroke-dasharray: 10;
      stroke-width: 1px;
      stroke-linejoin: bevel;
    }

    30% {
      transform: scale(0);
      fill: var(--fill);
      fill-opacity: 0;
      stroke-opacity: 1;
      stroke: var(--stroke);
      stroke-dasharray: 10;
      stroke-width: 1px;
      stroke-linejoin: bevel;
    }

    30.1% {
      stroke: var(--fill);
      stroke-dasharray: 0;
      stroke-linejoin: miter;
      stroke-width: 8px;
    }

    60% {
      transform: scale(1.2);
      fill: var(--fill);
    }
  }

  @media screen and (max-width:960px) {
    .main-content{
      flex-direction: column;
    }
  }


  @media screen and (max-width:500px)
  {

    #small-descr{
      font-size: 20px;
      top: 50%;
    }
  }






/*--------------------------------OUR WORK-------------------------------*/
.ourWorkBg{
  margin: 0;
  background-image: none!important;
  background-color: rgba(67, 68, 72, 1);
}

#main-img-ourWork{
  height: 600px;
  width: 100%;
}

.div-main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  bottom: -115px;
  animation-name:fly-div;
  animation-duration: 2s;
}

.work-card{
  background-color: rgba(186, 186, 186, 0.81);
  flex:0 0 25%; 
  display: flex; 
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
}

.work-card-p
{
  text-align: center;
  padding: 10px;
  color: rgba(45, 96, 153, 1);
  font-family: 'ABeeZee',sans-serif;
  font-size: 18px;
  margin-top: 0px;
}


.work-card-middle{
  flex: 0 0 25%;
  background-color: rgba(45, 96, 153, 0.81);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px; 
  position: relative;
}
.work-icon{
  height: 40px;
  width: 40px;
}


.intro-title{
  font-family: 'Lobster',sans-serif;
  position: absolute;
  top: 160px;
  font-size: 64px;
  animation-name: fly-work;
  animation-duration: 2s;
  width: 100%;
  text-align: center;
  color: white;
}

@keyframes fly-work{
  0%{opacity: 0; top: 500px;}
  100%{opacity: 1;}
}

@keyframes fly-div{
  0%{opacity: 0; bottom: -200px;}
  100%{opacity: 1;}
}

.work-card-h2{
  font-family: 'ABeeZee',sans-serif;
  font-size: 24px;
  color: rgba(45, 96, 153, 1);
  margin-bottom: 5px;
}

.middle-p{
  font-family: 'Lobster',sans-serif;
  font-size: 35px;
  color: rgba(186, 186, 186, 1);
  padding: 30px;
  text-align: center;
  margin: 0;
}


.middle-contact{
  background-color: rgba(186, 186, 186, 1);
 
}


#pointer{
  position: absolute;
  animation-name: pointer-anim;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

@keyframes pointer-anim{
  0%{bottom: 0px;}
  100%{bottom: 20px;}
  
}
.middle-a{
  color: rgba(45, 96, 153, 1);
  padding: 6px;
  text-align: center;
  display: block;
  font-family: 'ABeeZee',sans-serif;
}

.polaroid-div{
  flex: 0 0 20%;
  height: 100%;
}

.polaroid{
  width: 100%;
  height: 60%;
  background-color: #a4a4a5;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  box-shadow: 2px 2px 10px;
}

#first-polaroid{
  transform: rotateZ(5deg);
}

#second-polaroid{
  transform: rotateZ(-5deg);
}

.polaroid-img{
  width: 90%;
  height: 80%;
  margin-top: 2%;
  
}

.polaroid-p{
  font-family: 'ABeeZee',sans-serif;
  color: #27476c;
  font-weight: bold;
}

.polaroid:hover
{
  box-shadow: 2px 2px 20px;
}

.work-carousel-div{
  width: 100%;
  position: relative;
  top: 200px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.view-p{
  position: relative;
  top: 160px;
  font-family: 'Lobster',sans-serif;
  color: white;
  font-size: 32px;
  text-align: center;
}

.carousel-img{
  height: 86%;
  width: 36%;
  position: absolute;
  transition: opacity 0.7s ease-out;
  z-index: 3;
  box-shadow: 4px 5px 30px black;
}

.inner-carousel{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex: 0 0 40%;
  height: 100%;
  background-color: #325b8a;
}


.arrows{
  height: 30px;
  cursor: pointer;
  flex: 0 0 3%;
}

img[alt='left-arrow']{
  flex: 0 0 3%;
}

img[alt='right-arrow']
{

  flex:0 0 3%;
}

.carousel-card-p{
  position: absolute;
  bottom: 28px;
  font-family: 'ABeeZee',sans-serif;
  color: rgb(255 255 255);
  margin: 0;
  font-size: 20px;
  width: 36%;
  z-index: 5;
  text-align: center;
  background-color: #5f5959c4;
  height: 20%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}



.carousel-img:hover{
  filter: brightness(60%);
}

.carousel-img:hover + .carousel-card-p{
opacity: 1;
}

.containerS{
  position: relative;
  top: 250px;
 
}


.our-work{
   background-color: #a4a4a5!important;
}

.our-work-sub
{
  background-color: #325b8a!important;
}


@media screen and (max-width:814px) {
  .div-main{
      bottom: -150px;
  }

  .work-carousel-div{
      width: 100%;
  }

  .polaroid-div{
      display: none;  
  }

  .inner-carousel{
      flex: 0 0 75%;
  }

  .carousel-img{
      width: 64%;
  }

  .carousel-card-p{
      width: 64%; 
  }


}


@media screen and (max-width:640px) {
  .div-main{
      bottom: -350px;
      flex-direction: column;
  }


  .view-p{
      top: 300px;
  }
  

  .work-carousel-div{
      top: 300px;
  }
  .containerS{
      top:320px;
  }
}

@media screen and (max-width:490px) {
  .intro-title{
      font-size: 25px;
  }

}
/* ------------------ CONTACT PAGE ------------------ */
/*------------------- contact hero section -----------------------*/
.contact-msg-container{
  display: flex;
  background-color: rgba(217, 217, 217, 0.8);
  border-radius: 40px;
}

.contact-msg-img-container{
  width: fit-content;
  height: 390px;
  padding-right: 50px;
}

.contact-msg-img-container img{
  width: 100%;
  height: 100%;
}

.contact-msg{
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.contact-msg h1{
  font-family: "Lobster Two", cursive;
  font-size: 96px;

}

.contact-msg span{
  font-family: "ABeeZee", sans-serif;
  font-size: 32px;
  justify-self: center;
  margin-top: 35px;
}

.contact-hero{
  background-image: url("../Images/ContactPageImg/palm\ trees.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 1148px) {
  .contact-msg-container{
      padding: 0px 50px;
  }

  .contact-msg-img-container{
      width: 100%;
      height: 300px;
      padding-right: 0px;
  }

  .contact-msg{
      padding-left: 0px;
  }

  .contact-msg h1{
      font-size: 60px;
      text-align: center;
  }

  .contact-msg span{
      font-size: 24px;
  }
  
}

@media screen and (max-width: 767px) {
  .contact-msg span{
      text-align: center;
      padding: 15px 20px;
  }

  .contact-msg h1{
      font-size: 45px;
  }
}

/* -----------------------contact card---------------------- */

.red-icon {
  color: rgba(255, 0, 0, 0.477);
}

.content-container{
  width: 100%;
  height: 500px;
  position: relative;
}

.content-container img,
.content-container iframe{
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.contact-method-text-container{
  position: absolute;
  bottom: 0;
  background-color: rgba(79, 75, 75, 0.9);
  width: 100%;
  border-radius: 0 0 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 10px 0px;
}

.contact-method-text-container #phone-contact-text{
  align-items: center;
}

.contact-card{
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  margin-top: -40px;
}

.contact-card:hover{
  margin-top: -60px;
  transition: 0.5s;
}

#contact-method-section{
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 35%,
      rgba(13, 46, 79, 1)90%,
      rgba(48, 66, 96, 0)100%
  );
  background-blend-mode: multiply;
  position: relative;
  z-index: 1;
}

.dark-map{
  filter: invert(100%) hue-rotate(180deg);
  background-color: #1c1c1c;
}

/* .contact-method-text{
  color: greenyellow;
} */

@media screen and (max-width: 350px) {
 .contact-card{
  height: 400px;
 }

 .content-container{
  height: 400px;
 }

  .contact-method-text{
      /* color: blue; */
      font-size: 17px;
 }

 .red-icon{
  font-size: 20px;
 }
}


/*-------------------- contact form ----------------------*/

#contact-form-section{
  margin-top: -105px;
}

.form-container{
  background-image: url("../Images/ContactPageImg/camping.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 85px;
  padding-bottom: 85px;
}

.contact-form-title{
  font-family: "ABeeZee", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom:110px;
  margin-top: 100px;
  color: white;
  
}

.contact-form-input-field{
  margin: 65px 0;
  padding: px 0;
}

.contact-form-input-field .form-control{
  margin-top: 30px;
  padding: 15px 15px;
  font-size: 25px;
  font-family: "ABeeZee", sans-serif;
  border-radius: 10px;
}

.contact-form-input-field .form-control:focus{
  border: 2px solid #c3810e;
  box-shadow: 0 0 4px orange;
}

.center-button button{
  width: 100%;
  border: none;
  color: white;
  font-size: 35px;
  font-family: "ABeeZee", sans-serif;
  border-radius: 10px;
  padding: 15px 0;
  margin-bottom: 30px;
}

.center-button button:hover{
  background-color: #c3810e;
  transition: 0.5s;
}

.center-button button:focus{
  background-color: #0e56c3;
}

.form-input-field .form-control::placeholder{
  color: rgba(161, 158, 158, 1);
  font-size: 25px;
  font-family: "ABeeZee", sans-serif;
}

.disabled{
  background-color: #ccc;
  cursor: not-allowed;
  &&:hover{
      background-color: #ccc;
  }
}

.disabled:hover{
  background-color: #ccc;
}

.enabled{
  background-color: rgba(218, 137, 16, 0.48);
  cursor: pointer;
}


@media screen and (max-width: 991px) {
  #contact-form-section{
      margin-top: -135px;
  }

  .form-input-field{
      margin: 25px 0;
      padding: px 0;
  }
}

/* -------------------------join us form ------------------*/
.join-us-popup-container{
  background-color: rgba(216, 216, 216, 1);
  padding: 50px;
  text-align: center;
  border-radius: 30px;
  border: 3px solid #296C81;
  max-width: 800px;
  margin: auto;
  margin-top: 50px;
}

.join-popup-title h1{
  font-family: "Lobster Two", cursive;
  font-size: 60px;
  margin-bottom: 30px; 
}

.join-popup-title h3{
  font-family: "ABeeZee", sans-serif;
  font-size: 30px;
  margin-bottom: 30px; 
}


.join-us-form{
  margin-top: 10px;
}

.join-us-form input:not([type="file"]){
  padding: 20px 15px;
  margin-bottom: 40px;
  border-radius: 15px;

  &&::placeholder{
      font-size: 20px;
      color: rgba(141, 141, 141, 1);
  }
}

.join-us-form input:focus{
  outline: none;
  border: 2px solid #1A5164;
  box-shadow: 0 0 4px #296C81;
}

.join-us-form input[type="file"]{
  font-size: 15px;
  border-radius: 19px;
  margin-bottom: 40px;
  display: inline-flex;

  &&::-webkit-file-upload-button{
      background-color: #296C81;
      color: #E8E8E8;
      padding: 10px 21px;
      cursor: pointer;
      font-size: 20px;
      height: 70px;
      &&:hover{
          background-color: rgba(26, 81, 100, 1);
          transition: 0.5s;
      }
  }

  
}

#join-submit-button{
  color: #E8E8E8;
  width: 100%;
  height: 70px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

#join-submit-button:hover{
  
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  transition: 0.5s;
}

#join-submit-button:focus{
  background-color: rgb(86, 207, 247);
  transition: 0.5s;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

#join-us-popup{
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  
}

.inactive-popup{
  display: none;
}

.active-join-us-btn{
  background-color: #296C81;

  &&:hover{
      background-color: rgba(26, 81, 100, 1);
  }
}

.inactive-join-us-btn{
  background-color: #ccc;
  cursor: not-allowed;

  &&:hover{
      background-color: #ccc;
  }
}


/* -------------------- WInter MODE----------------------  */
.winter-mode{
  &&.contact-hero{
      background-image: url("../Images/ContactPageImg/WinterForest.jpg");
  }

  &&#contact-method-section{
      background: linear-gradient(
          to bottom,
          rgba(153, 164, 220, 1) 40%,
          rgba(37, 46, 88, 1) 70%,
          rgba(20, 23, 38, 1)95%,
          rgba(20, 23, 38, 0.17)
      );
  }

  &&.form-container{
      background-image: url("../Images/ContactPageImg/WinterCAMPING.jpeg");
  }

  &&#seasonal_vacation{
      background-color: rgba(153, 164, 220, 0.7);
      cursor: pointer;
  }

  && .enabled{
      background-color: rgba(153, 164, 220, 0.7);
      cursor: pointer;

      &&:hover{
          background-color: rgba(153, 164, 220, 1);
      }
  }
 
  &&.IndexTitle{
      background-image: url("../Images/winter.jpeg");
  }

  &&.titlee{
      background-image: url("../Images/aboutUsWinter.jpg");
  }


  /* -------------TOGGLE BUTTON------------------ */
  &&.btnn{
    box-shadow: inset 0 8px 60px rgba(0,0,0, .3), 
                inset 8px 0  8px rgba(0,0,0, .3),
                inset 0 -4px 4px rgba(0,0,0, .3);
  }
  &&.btnn__indicator{
    transform: translateX(50px);
    background-color: #2b2b2b;
    box-shadow: 0 8px 40px rgba(0,0,0, .3);
  }
  
  &&.btnn__icon{
    color:#fff;
  }

  @media screen and (min-width:850px) {
    &&.btnn__indicator{
      transform: translateX(40px);
    }
  }

  @media screen and (max-width:600px){
    &&.btnn__indicator{
      transform: translateX(0);
      background-color: var(--dark-color);
      box-shadow: 0 8px 40px rgba(0,0,0, .3);
    }
  }

  /* ------------------FOOTER------------------- */
  &&.container2{
    background-image: url("../Images/snow.jpg");
  }
  &&.sub{
    background-color: rgba(153, 164, 220, 0.3);
  }


  /*------------------------INDEX PAGE CARDS------------------------*/
  &&.text-div{
    background-color: #b7bfe6;
  }

  &&.horizontal-text-div{
    background-color: #b7bfe6;
  }

  &&#more-div{
    background-color: #b7bfe6;
  }
  /*------------------------TOURS PAGE------------------------*/
  &&.tours-bg{
    background-color:rgb(192 206 218);
  
  }
}

/* ----------------------------ThreeInOnePage---------------------- */
.co{
  background-color: rgba(216, 216, 216, 1);
    padding: 50px;
    text-align:left;
    border-radius: 30px;
    border: 3px solid #296C81;
    max-width: 800px;
    margin: auto;
    margin-top: 50px;
}
.choseTrip{
  margin-top: 8px;
  padding: 15px;
  color: #296C81;
  font-family: 'Lato';
  background-color: #3a829e56;
}
#faqp1{
  /* text-align: center; */
  font-family: 'Lato';
  font-size: 18px;
  color: #296C81;
  font-weight: 600;
}
.serviceTitle, .policyTitle{
  text-align: center;
  font-family: 'Lato';
  margin-top: 25px;
  color: #265a6e;
  background-color: rgba(176, 181, 106, 0.573);
  border-radius: 10px;
  padding: 20px;
}
.cookies, .security, .qAnda{
  color: #555555;
  font-family: 'Lato';
}