body{
    background-color: #F0E1BA;
    margin: 0px;
    background-image: none!important;
}
#main-img{
    height:580px;
    width:100%;
    filter: brightness(65%);
    margin: 0;
}

#main-p{
    font-family: 'Lobster', cursive;
    position: absolute;
    color: rgba(255, 255, 255, 45%);
    font-size: 64px;
    text-align: center;
    margin: 0%;
    top: 30%;
    width: 100%;
}

#browse-p{
    font-family: 'Lobster', cursive;
    position: absolute;
    color: white;
    font-size: 24px;
    text-align: center;
    margin: 0%;
    top: 80%;
    width: 100%;
    animation-name: fly-up;
    animation-duration:1.4s;

}

@keyframes fly-up{
    0% {opacity: 0; top:100%}
    100% {opacity: 1;}
}

.div-cards{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;

}

.card-img{
    
    height: 100%;
    width: 100%;
    /* padding: 11px; */
   filter: brightness(70%);
}

.card{
    display: flex;
    flex: 1 1 30%; 
    justify-content: space-evenly;
    margin-bottom: 15px;
    perspective: 1000px;
    position: relative;
    height: 200px;
    
}

.inner{
    position: relative;
    width: 300px;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow:4px 4px 6px gray;
}

.card:hover .inner{
    transform: rotateY(180deg);
}

.front-card, .back-card{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front-card{
    background-color:#187D9D;
    /* background-image: linear-gradient(rgb(61, 121, 218), rgb(151, 173, 225)); */
}

.back-card{
    background-color:#187D9D;
    color: aliceblue;
    transform: rotateY(180deg);
}

.front-p{
    position: absolute;
    color: white;
    -webkit-text-stroke:0.6px rgb(128, 70, 29);
    top: 0;
    right: 20px;
    font-family: 'Lobster', cursive;
    font-size: 21px;
    /* background-color: whitesmoke; */
}

.titlee{
    margin-top: 0!important;
}
