<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto&family=Ubuntu&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@100;400&family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../css/footer.css">
  <title>Document</title>
</head>
<body>
  
  <div class="container2" id="c2">
    <div class="shore-part">
      <div class="sub" id="sub">
        <h1>Subscribe</h1>
        <p>be the first who knows</p>
      </div>
      <button class="btn">Subscribe</button>
    </div>
    <div class="shore2">
      <div class="socials">
      <ul>
        <li><i class="footer__icons fa-brands fa-square-facebook"></i></li>
        <li><i class="footer__icons fa-brands fa-square-instagram" style="color: #7a4b81;"></i></li>
        <li><i class="footer__icons fa-solid fa-envelope"></i></li>
        <li><i class="footer__icons fa-brands fa-linkedin" style="color: #1a3d7a;"></i></li>
      </ul>
    </div>
    <div class="others">
      <a href="">FAQs</a>
      <a href="">Terms of Service</a>
      <a href="">Privacy Policy</a>
    </div>
    </div>
    <hr style="border:1px solid rgb(255, 255, 255);">
    <p class="cop">@copyright2023</p>
  </div>
</body>
</html>