<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ksamil Tour</title>
    <link rel="stylesheet" href="../css/individualTour.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Lobster&display=swap" rel="stylesheet">
<body>
    <img id="main-img" src="../Images/ksamil.jpg" alt="">
    <div class="container1">
        <header class="header">
        <nav class="navbar1">
          <div class="brand-titlee"> <a href="#"><img src="../Images/location.png" id="location" alt="location"></a></div>
          <div class="elements">
            <ul>
        <li><a href="./index.html" class="l">Home</a></li>
        <li><a href="#" class="l">Tours</a></li>
        <li><a href="#" class="l">About Us</a></li>
        <li><a href="#" class="l">Contacts</a></li>
      </ul>
      </div>
      </nav>
      <nav class="navbar2">
        <div class="btnn">
          <div class="btnn__indicator">
            <div class="btnn__icon-container">
              <i class="btnn__icon fa-solid"></i>
            </div>
          </div>
        </div>
        <button class="booking">Book a Tour</button>
      
        <div class="lang-menuu">
          <div class="selected-langg">
          </div>
          <ul>
            <li><a class="de" href="">German</a></li>
            <li><a class="it" href="">Italian</a></li>
            <li><a class="fr" href="">French</a></li>
            <li><a class="es" href="">Espanol</a></li>
            <li><a class="en" href="">English</a></li>
          </ul>
        </div>
        <a href="" class="toggle-buttonn">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
      </nav>
      </header>
      <div class="titlee">
        <p id="main-p">Ksamil Tour</p>
        <p id="small-descr">5 day tour - 100$</p>
    </div>
    </div>

    <div class="main-content">
    <main>
        <h3>Description of the trip </h3>
        <p>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci mollitia eius unde saepe vel quas quis debitis necessitatibus molestiae beatae laboriosam minima delectus atque repudiandae commodi odit, animi non possimus. Eaque reiciendis ipsum accusamus. Iure saepe temporibus mollitia sit totam alias praesentium, ipsum consequatur in culpa error quis quasi aspernatur nobis quaerat dolorem quae dolore corrupti laboriosam nam dicta autem nulla! Consequuntur sint odio illo eaque exercitationem repellat provident molestias quibusdam iste labore, dignissimos cumque soluta temporibus velit aliquam? Vitae tempore dolorum, fugit repudiandae assumenda aspernatur aperiam ullam quisquam, suscipit voluptate vero at laborum. Autem cupiditate itaque ad quibusdam accusamus?
        </p>
    </main>
    <aside>
        <h5>Book a tour: </h5>
        <div class="input-div">
        <label for="date">Choose a departing date:  </label><input type="date" name="date" id="date">
        <label for="number">Number of people:  </label>
        <input type="number" name="number" id="number" min="1" max="10">
        <input type="submit" value="Proceed">
        </div>

    </aside>
    </div>
    <script src="../Controlls/main-for-navbar.js"></script>
</body>
</html>