<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ksamil Tour</title>
    <link rel="stylesheet" href="../css/individualTour.css">
    <link rel="stylesheet" href="../css/Styling.css">
    <link rel="stylesheet" href="../css/wintermode.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400&family=Lobster+Two&family=Montserrat:wght@400;600&family=Roboto:wght@100;400&family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&family=Montserrat:wght@400;600&family=Roboto:wght@100;400&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Lobster&display=swap" rel="stylesheet"> 
    <!-- <link rel="stylesheet" href="../css/footer.css"> -->
    
<body>
  <img id="main-img" src="../Images/ksamil.jpg" alt="main image" height="600px">
  <div class="container1">
    <header class="header">
    <nav class="navbar1">
      <div class="brand-titlee"> <a href="#"><img src="../Images/location.png" id="location" alt="location"></a></div>
      <div class="elements">
        <ul>
    <li><a href="./tours.html" class="l" id="l1">Tours</a></li>
    <li><a href="./aboutUs1.html" class="l" id="l2">About Us</a></li>
    <li><a href="./contact.html" class="l" id="l3">Contacts</a></li>
  </ul>
  </div>
  </nav>
  <nav class="navbar2">
    <!-- <div class="btnn">
      <div class="btnn__indicator">
        <div class="btnn__icon-container">
          <i class="btnn__icon fa-solid"></i>
        </div>
      </div>
    </div> -->
    <button class="booking">Book a Tour</button>
  
    <div class="lang-menuu">
      <div class="selected-langg">
      </div>
      <ul>
        <li><a id="en" class="lang-btn active" href="" language="english" >English</a></li>
        <li><a id="de" class="lang-btn" href="" language="german">German</a></li>
        <li><a id="it" class="lang-btn" href="" language="italian">Italian</a></li>
        <li><a id="fr" class="lang-btn" href="" language="french">French</a></li>
        <li><a id="es" class="lang-btn" href="" language="espanol">Espanol</a></li>
      </ul>
    </div>
    <a href="" class="toggle-buttonn">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </a>
  </nav>
  </header>
  </div>
    <div class="title">
      <p id="main-p">Ksamil Tour</p>
      <p id="small-descr">5 day tour - 100$</p>
    </div>
  </div>
    </div>

    <div class="main-content">
    <main>
        <h3>Description of the trip </h3>
       
          <img src="../Images/calendar.png" alt="calendar" id="calendar-i"><h4>&nbsp;&nbsp;&nbsp;&nbsp; Next dates: </h4><br> 
          <p>
          <img src="../Images/arrow.png" id ="arrow-i" alt="arrow">&nbsp;&nbsp;&nbsp;&nbsp; 13-18 August | 100$ per person <br>
          <img src="../Images/arrow.png"  id ="arrow-i" alt="arrow">&nbsp;&nbsp;&nbsp;&nbsp; 20-25 August  | 100$ per person
        </p>
          <img src="../Images/itinerary.png" alt="itinerary" id="itinerary-i"> <h4>&nbsp;&nbsp;&nbsp;&nbsp;Itinerary: </h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae cumque molestiae commodi inventore laboriosam maxime! Quos, nostrum amet voluptas vero in adipisci delectus ab cupiditate nam aliquam doloribus dolor iusto sed voluptates velit numquam, error mollitia cum unde perferendis? A, repellat. Iusto vitae quisquam nisi magni aperiam? Cumque cupiditate nihil voluptate explicabo? Pariatur, aliquam accusantium consectetur corporis ducimus repudiandae veritatis earum impedit cupiditate officiis blanditiis accusamus ut similique aperiam repellat omnis inventore necessitatibus tempore quae molestias ipsum itaque illum! Architecto ut nostrum quasi obcaecati quas necessitatibus? Possimus voluptas reprehenderit ipsa perferendis, repellat, enim porro nostrum blanditiis corrupti rerum corporis sapiente.</p>
    </main>
    <aside>
        <h5>Book a tour: </h5>
        <div class="input-div">
        <label for="date">Choose a departing date: </label>
        <input type="date" name="date" id="date">
        <label for="number">Number of people:  </label>
        <input type="number" name="number" id="number" min="1" max="10">
        <input type="submit" value="Proceed">
        </div>
        <h5>Leave a rating:</h5>
        <div class="rating">
          <input value="star-1" name="star-radio" id="star-1" type="radio">
          <label for="star-1">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" pathLength="360"></path></svg>
          </label>
          <input value="star-1" name="star-radio" id="star-2" type="radio">
          <label for="star-2">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" pathLength="360"></path></svg>
          </label>
          <input value="star-1" name="star-radio" id="star-3" type="radio">
          <label for="star-3">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" pathLength="360"></path></svg>
          </label>
          <input value="star-1" name="star-radio" id="star-4" type="radio">
          <label for="star-4">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" pathLength="360"></path></svg>
          </label>
          <input value="star-1" name="star-radio" id="star-5" type="radio">
          <label for="star-5">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" pathLength="360"></path></svg>
          </label>
        </div>
        <p class="avg">Average rating: 4.1/5.0</p>
    </aside>
    </div>

    <div class="container2" id="c2">
      <div class="shore-part">
        <div class="sub">
          <h1>Subscribe</h1>
          <p>be the first who knows</p>
        </div>
        <button class="btn">Subscribe</button>
      </div>
      <div class="shore2">
        <div class="socials">
        <ul>
          <li><i class="fa-brands fa-square-facebook"></i></li>
          <li><i class="fa-brands fa-square-instagram" style="color: #7a4b81;"></i></li>
          <li><i class="fa-solid fa-envelope"></i></li>
          <li><i class="fa-brands fa-linkedin" style="color: #1a3d7a;"></i></li>
        </ul>
      </div>
      <div class="others">
        <a href="">FAQs</a>
        <a href="">Terms of Service</a>
        <a href="">Privacy Policy</a>
      </div>
      </div>
      <hr style="border:1px solid rgb(255, 255, 255); width:100%;">
      <p class="cop">@copyright2023</p>
    </div>
    <script src="../Controlls/temp.js"></script>
</body>
</html>