<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/Styling.css">
  <title>Our Staff</title>
</head>
<body id="bs">
  <div class="container1">
    <header class="header">
    <nav class="navbar1">
      <div class="brand-titlee"> <a href="#"><img src="../Images/location.png" id="location" alt="location"></a></div>
      <div class="elements">
        <ul>
    <li><a href="./index.html" class="l" id="l0">Home</a></li>
    <li><a href="#" class="l" id="l1">Tours</a></li>
    <li><a href="./aboutUs1.html" class="l" id="l2">About Us</a></li>
    <li><a href="./contact.html" class="l" id="l3">Contacts</a></li>
  </ul>
  </div>
  </nav>
  <nav class="navbar2">
    <div class="btnn">
      <div class="btnn__indicator">
        <div class="btnn__icon-container">
          <i class="btnn__icon fa-solid"></i>
        </div>
      </div>
    </div>
    <button class="booking">Book a Tour</button>
  
    <div class="lang-menuu">
      <div class="selected-langg">
      </div>
      <ul>
        <li><a id="en" class="lang-btn active" href="" language="english" >English</a></li>
        <li><a id="de" class="lang-btn" href="" language="german">German</a></li>
        <li><a id="it" class="lang-btn" href="" language="italian">Italian</a></li>
        <li><a id="fr" class="lang-btn" href="" language="french">French</a></li>
        <li><a id="es" class="lang-btn" href="" language="espanol">Espanol</a></li>
      </ul>
    </div>
    <a href="" class="toggle-buttonn">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </a>
  </nav>
  </header>
  </div>
  <div class="StaffTitle">
    <p>Our Staff</p>
  </div>
  <p id="meetAndGreet">Meet The Team</p>
  <div class="staff-background-cards">
    <div class="staff-body-cards" style="background-image: url('../Images/woman.jpg');">
      <div class="content">
      <p class="name">Kristina</p>
      <p class="profession">Travel Consultant</p>
      <p class="info">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
      <div class="social-ribon">
        <ul>
          <li><a href=""><i class="social__icon fa-brands fa-twitter" style="color: #ffffff;"></i></a></li>
          <li><a href=""><i class="social__icon fa-brands fa-linkedin" style="color: #ffffff;"></i></a></li>
          <li><a href=""><i class="social__icon fa-brands fa-square-facebook" style="color: #ffffff;"></i></a></li>
          <li><a href=""><i class="social__icon fa-solid fa-envelope" style="color: #ffffff;"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="staff-body-cards" style="background-image: url('../Images/man.jpg');">
      <div class="content">
        <p class="name">Antonio</p>
        <p class="profession">Travel Consultant</p>
        <p class="info">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
      <div class="social-ribon">
        <ul>
          <li><a href=""><i class="social__icon fa-brands fa-twitter" style="color: #ffffff;"></i></a></li>
          <li><a href=""><i class="social__icon fa-brands fa-linkedin" style="color: #ffffff;"></i></a></li>
          <li><a href=""><i class="social__icon fa-brands fa-square-facebook" style="color: #ffffff;"></i></a></li>
          <li><a href=""><i class="social__icon fa-solid fa-envelope" style="color: #ffffff;"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="staff-body-cards" style="background-image: url('../Images/man2.jpg');">
      <div class="content">
        <p class="name">Ricardo</p>
        <p class="profession">Travel Coordinator</p>
        <p class="info">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
      <div class="social-ribon">
        <ul>
          <li><a href=""><i class="social__icon fa-brands fa-twitter" style="color: #ffffff;"></i></a></li>
          <li><a href=""><i class="social__icon fa-brands fa-linkedin" style="color: #ffffff;"></i></a></li>
          <li><a href=""><i class="social__icon fa-brands fa-square-facebook" style="color: #ffffff;"></i></a></li>
          <li><a href=""><i class="social__icon fa-solid fa-envelope" style="color: #ffffff;"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="staff-background-cards">
    <div class="staff-body-cards" style="background-image: url('../Images/woman2.avif');">
      <div class="content">
      <p class="name">Aria</p>
      <p class="profession">Tour Guide</p>
      <p class="info">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
      <div class="social-ribon">
        <ul>
          <li><a href=""><i class="social__icon fa-brands fa-twitter" style="color: #ffffff;"></i></a></li>
          <li><a href=""><i class="social__icon fa-brands fa-linkedin" style="color: #ffffff;"></i></a></li>
          <li><a href=""><i class="social__icon fa-brands fa-square-facebook" style="color: #ffffff;"></i></a></li>
          <li><a href=""><i class="social__icon fa-solid fa-envelope" style="color: #ffffff;"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="staff-body-cards" style="background-image: url('../Images/woman3.jpg');">
      <div class="content">
        <p class="name">Anna</p>
        <p class="profession">Booker</p>
        <p class="info">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
      <div class="social-ribon">
        <ul>
          <li><a href=""><i class="social__icon fa-brands fa-twitter" style="color: #ffffff;"></i></a></li>
          <li><a href=""><i class="social__icon fa-brands fa-linkedin" style="color: #ffffff;"></i></a></li>
          <li><a href=""><i class="social__icon fa-brands fa-square-facebook" style="color: #ffffff;"></i></a></li>
          <li><a href=""><i class="social__icon fa-solid fa-envelope" style="color: #ffffff;"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="staff-body-cards" style="background-image: url('../Images/man3.avif');">
      <div class="content">
        <p class="name">Josh</p>
        <p class="profession">Tour manager</p>
        <p class="info">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
      <div class="social-ribon">
        <ul>
          <li><a href=""><i class="social__icon fa-brands fa-twitter" style="color: #ffffff;"></i></a></li>
          <li><a href=""><i class="social__icon fa-brands fa-linkedin" style="color: #ffffff;"></i></a></li>
          <li><a href=""><i class="social__icon fa-brands fa-square-facebook" style="color: #ffffff;"></i></a></li>
          <li><a href=""><i class="social__icon fa-solid fa-envelope" style="color: #ffffff;"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
<!-- #968971d6 -->
<div class="containerS" id="cs">
  <div class="shore-part">
    <div class="sub" id="sub">
      <h1>Subscribe</h1>
      <p>be the first who knows</p>
    </div>
    <button class="btn">Subscribe</button>
  </div>
  <div class="shore2">
    <div class="socials">
    <ul>
      <li><i class="footer__icons fa-brands fa-square-facebook"></i></li>
      <li><i class="footer__icons fa-brands fa-square-instagram" style="color: #7a4b81;"></i></li>
      <li><i class="footer__icons fa-solid fa-envelope"></i></li>
      <li><i class="footer__icons fa-brands fa-linkedin" style="color: #1a3d7a;"></i></li>
    </ul>
  </div>
  <div class="others">
    <a href="">FAQs</a>
    <a href="">Terms of Service</a>
    <a href="">Privacy Policy</a>
  </div>
  </div>
  <hr style="border:1px solid rgb(255, 255, 255);">
  <p class="cop">@copyright2023</p>
</div>
  <script src="../Controlls/script.js"></script>
</body>
</html>