<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our work</title>
    <link rel="stylesheet" href="../css/ourWork.css">
    <link rel="stylesheet" href="../css/header.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400&family=Lobster+Two&family=Montserrat:wght@400;600&family=Roboto:wght@100;400&family=Ubuntu&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=ABeeZee&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Lobster&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&family=Montserrat:wght@400;600&family=Roboto:wght@100;400&family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container1">
    <div class="headWrap" id="headWrap">
    <header class="header">
    <nav class="navbar1">
      <div class="brand-titlee"> <a href="#"><img src="../Images/location.png" id="location" alt="location"></a></div>
      <div class="elements">
        <ul>
    <li><a href="./index.html" class="l">Home</a></li>
    <li><a href="#" class="l">Tours</a></li>
    <li><a href="#" class="l">About Us</a></li>
    <li><a href="#" class="l">Contacts</a></li>
  </ul>
  </div>
  </nav>
  <nav class="navbar2">
    <button class="booking">Book a Tour</button>
  
    <div class="lang-menuu">
      <div class="selected-langg">
      </div>
      <ul>
        <li><a class="de" href="">German</a></li>
        <li><a class="it" href="">Italian</a></li>
        <li><a class="fr" href="">French</a></li>
        <li><a class="es" href="">Espanol</a></li>
        <li><a class="en" href="">English</a></li>
      </ul>
    </div>
    <a href="" class="toggle-buttonn">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </a>
  </nav>
  </header>
  <div class="titlee">
    <p class="al intro-title" >Why choose TravAl?</p>
  </div>
</div>
</body>
</html>