<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our work</title>
    <link rel="icon" href="../Images/Logo/FavLogo.png">
    <!-- <link rel="stylesheet" href="../css/ourWork.css"> -->
    <link rel="stylesheet" href="../css/Styling.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400&family=Lobster+Two&family=Montserrat:wght@400;600&family=Roboto:wght@100;400&family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&family=Montserrat:wght@400;600&family=Roboto:wght@100;400&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Lobster&display=swap" rel="stylesheet">
</head>
<body class="ourWorkBg">
  <img id="main-img-ourWork" src="../Images/bus.jpg" alt="main image" height="600px">
  <div class="container1">
    <header class="header">
    <nav class="navbar1">
      <div class="brand-titlee"> <a href="#"><img src="../Images/location.png" id="location" alt="location"></a></div>
      <div class="elements">
        <ul>
    <li><a href="./tours.html" class="l" id="l1">Tours</a></li>
    <li><a href="./aboutUs1.html" class="l" id="l2">About Us</a></li>
    <li><a href="./contact.html" class="l" id="l3">Contacts</a></li>
  </ul>
  </div>
  </nav>
  <nav class="navbar2">
    <div class="btnn" aria-disabled="true">
      <div class="btnn__indicator">
        <div class="btnn__icon-container">
          <i class="btnn__icon fa-solid"></i>
        </div>
      </div>
    </div>
    <button class="booking">Book a Tour</button>
  
    <div class="lang-menuu">
      <div class="selected-langg">
      </div>
      <ul>
        <li><a id="en" class="lang-btn active" href="" language="english" >English</a></li>
        <li><a id="de" class="lang-btn" href="" language="german">German</a></li>
        <li><a id="it" class="lang-btn" href="" language="italian">Italian</a></li>
        <li><a id="fr" class="lang-btn" href="" language="french">French</a></li>
        <li><a id="es" class="lang-btn" href="" language="espanol">Espanol</a></li>
      </ul>
    </div>
    <a href="" class="toggle-buttonn">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </a>
  </nav>
  </header>
  </div>
  <p class="al intro-title" >Why choose TravAl?</p>
</div>
</div>
<div class="div-main">
  <div class="work-card">
    <img src="../Images/safety.png" class="work-icon" alt="">
    <h2 class="work-card-h2" id="safety">Safety</h2>
    <p class="work-card-p" id="paragraph">
      Experience a safe trip, thanks to our rigorous maintenance and experienced drivers.
    </p>
  </div>
  <div class="work-card-middle">
   <p class="middle-p" id="question">Interested to find out more? </p>
   <div class="middle-contact"><a class="middle-a" href="./contact.html">Contact Us</a></div>
   <img src="../Images/pointer.webp" id="pointer" height="30px" width="30px" alt="">
  </div>
  <div class="work-card">
    <img src="../Images/experience.png" class="work-icon" alt="">
    <h2 class="work-card-h2" id="experience">Experience</h2>
    <p class="work-card-p" id="paragraph1">
      With over 20 years of experience, TravAl remains the most trusted company in the market.  
    </p>
  </div>
</div>

<p class="view-p">View a collection of our memorable trips</p>
<div class="work-carousel-div">

  <div class="polaroid-div">
    <div class="polaroid" id="first-polaroid">
      <img class="polaroid-img" src="../Images/tours5.webp" alt="tour">
      <p class="polaroid-p">Vlore 21/09/2023</p>
    </div>
  </div>
  <img src="../Images/left-arrow.png" alt="left-arrow" class="arrows">
  <div class="inner-carousel">
    <img class="carousel-img" id="0" src="../Images/tours1.jpg" alt="carousel-img">
    <p class="carousel-card-p" id="p1">
      Memory from Trip to Berat <br>
      28/03/2021
    </p>
    <img class="carousel-img" id="1" src="../Images/tours2.jpeg" alt="carousel-img">
    <p class="carousel-card-p" id="p2">
      Memory from Trip to Shkodra <br>
      01/06/2022
    </p>
    <img class="carousel-img" id="2" src="../Images/tours3.webp" alt="carousel-img">
    <p class="carousel-card-p" id="p3">
      Memory from Trip to Borshi <br>
      28/03/2021
    </p>
    <img class="carousel-img" id="3" src="../Images/tours4.jpg" alt="carousel-img">
    <p class="carousel-card-p" id="p4">
      Memory from Trip to Kruje <br>
      17/05/2020
    </p>
  </div>
  <img src="../Images/arrow-point-to-right.png" alt="right-arrow" class="arrows">
  <div class="polaroid-div">
    <div class="polaroid" id="second-polaroid">
      <img src="../Images/tours6.jpg" class="polaroid-img" alt="tour">
      <p class="polaroid-p">Vlore 21/09/2023</p>
    </div>
  </div>
</div>


<!-- <div class="work-carousel-div">
  <p id="carousel-p">
    A selection of our work
  </p>
  </div> 
  <div class="inner-carousel">
    <img src="../Images/left-arrow.png" alt="left-arrow" class="arrows">
    <div class="div-to-overflow">
    <div class="carousel-card">
      <img class="carousel-img" id="0" src="../Images/tours1.jpg" alt="carousel-img">
      <p class="hidden-p-carousel">
        27/08/2019
        100 tourists
      </p>
      <p class="carousel-card-p">Trip to Berat 1</p>
    </div>
    <div class="carousel-card">
      <img class="carousel-img" id="1" src="../Images/tours1.jpg" alt=" carousel-img">
      <p class="hidden-p-carousel">
        01/03/2018
        80 tourists
      </p>
      <p class="carousel-card-p">Trip to Berat 2</p>
    </div>
    <div class="carousel-card">
      <img class="carousel-img" id="2" src="../Images/tours1.jpg" alt=" carousel-img">
      <p class="hidden-p-carousel">
        31/01/2019
        100 tourists
      </p>
      <p class="carousel-card-p">Trip to Berat 3</p>
    </div>
    <div class="carousel-card">
      <img class="carousel-img" id="3" src="../Images/tours1.jpg" alt=" carousel-img">
      <p class="carousel-card-p">Trip to Berat 4</p>
    </div>
    </div>
    <img src="../Images/arrow-point-to-right.png" alt="right-arrow" class="arrows">
</div> -->
<div class="containerS our-work" id="cs">
  <div class="shore-part">
    <div class="sub our-work-sub">
      <h1 id="subscribe">Subscribe</h1>
      <p id="subscribeText">be the first who knows</p>
    </div>
    <button class="btn" id="btnn">Subscribe</button>
  </div>
  <div class="shore2">
    <div class="socials">
    <ul>
      <li><i class="footer__icons fa-brands fa-square-facebook"></i></li>
      <li><i class="footer__icons fa-brands fa-square-instagram" style="color: #7a4b81;"></i></li>
      <li><i class="footer__icons fa-solid fa-envelope"></i></li>
      <li><i class="footer__icons fa-brands fa-linkedin" style="color: #1a3d7a;"></i></li>
    </ul>
  </div>
  <div class="others">
    <a href="" id="f1">FAQs</a>
    <a href="" id="f2">Terms of Service</a>
    <a href="" id="f3">Privacy Policy</a>
  </div>
  </div>
  <hr style="border:1px solid rgb(255, 255, 255);">
  <p class="cop">@copyright2023</p>
</div>
<script src="../Controlls/ourworkCarousel.js"></script>
<script src="../Controlls/script.js"></script>
<script src="../Controlls/header-Footer-Translation.js"></script>
<script src="../Controlls/ourWorkTranslation.js"></script>
</body>
</html>