<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../css/Styling.css">
</head>
<body>
  <section id="threeinone">
    <div class="co container join-us-popup-container">
      <div class="faq">
        <img src="../Images/icons8-traveling-64.png" alt="" style="margin-left: auto; margin-right: auto; display: block;"><p id="faqp1">Traveling is one of those things that naturally gives rise to queries, concerns and doubts, so we’re here to put your mind at ease.For questions frequent and otherwise, this is the spot.</p>
      </div>
    <div class="accordion" id="accordionExample">
      <h2 data-anchortext="" data-faicon="" class="choseTrip" id="ch1">Choosing a trip</h2>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="button1">
            <strong>Trip styles</strong>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body" id="div1">
            <strong>Which style of trip is right for me?</strong> <br>Our four styles of travel – Basix, Original, Comfort and Premium – cover a whole gamut of travel experiences. To find out which one has ‘You’ written all over it, visit our <code>trip styles page.</code>
            <br><strong>Are trips physically demanding?</strong><br>Want to lie in a hammock and not move until cocktail hour? We’ve got a trip for that. Want to power up the side of a mountain at high altitude? We’ve also got a trip for that. To determine what type of trip suits you best, each of our trips comes with a Physical Rating to let you know how physically demanding it is… or isn’t.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" id="button2">
         <strong>I have a disability – can I join&nbsp;an Intrepid trip?</strong> 
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body" id="div2">
            Intrepid is committed to making travel widely accessible, regardless of ability or disability. We ask that you carefully consider whether you are physically and mentally able to complete the itinerary you have chosen, recognising that on many trips you will be required to carry your own bags and use public transport. <br><br>
            Where we can we will make reasonable adjustments to the operation of our trips to facilitate the requirements of disabled travellers – such as booking ground floor accommodation, or having our leaders communicate important directions in writing as well as verbally. Many travellers with disabilities have been able to enjoy our trips by travelling with a friend or companion who can assist with specific needs. If joining a group trip is not practical we may be able to provide you with a private departure. Please contact our sales team for further information on any of our itineraries.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" id="button3">
          <strong>Are flights and airport transfers included in the tour price? </strong>  
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body" id="div3">
            <strong>Flights</strong> <br>Flights to the tour destination are not included in the trip price. However, on-tour flights and all other modes of on-tour transport are included. If you'd like help booking international flights*, please get in touch via phone or live chat to request a quote.
            <br><br>
            *Excluding customers in North America.
          </div>
        </div>
      </div>


      <h2 data-anchortext="" data-faicon="" class="choseTrip">Booking</h2>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree1">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">
          <strong> Why has the price of a trip I wanted to book changed?</strong>  
          </button>
        </h2>
        <div id="collapseThree1" class="accordion-collapse collapse" aria-labelledby="headingThree1" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Oh no! Sorry to hear you missed out. Our promotions run for a limited time only, so you need to get in there quickly to snag a good deal. Make sure you’re signed up to our email list so that you’re in the know for future sales.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
          <strong> Why has the price of a trip I wanted to book changed?</strong>  
          </button>
        </h2>
        <div id="collapseThree2" class="accordion-collapse collapse" aria-labelledby="headingThree2" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Oh no! Sorry to hear you missed out. Our promotions run for a limited time only, so you need to get in there quickly to snag a good deal. Make sure you’re signed up to our email list so that you’re in the know for future sales.
          </div>
        </div>
      </div>
      <!-- Booking confirmation    -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
          <strong> Booking confirmation</strong>  
          </button>
        </h2>
        <div id="collapseThree3" class="accordion-collapse collapse" aria-labelledby="headingThree3" data-bs-parent="#accordionExample">
          <div class="accordion-body">
          <strong>I paid for a trip but haven't received confirmation, is it going ahead?</strong><br><br>
          We know you’re probably itching to see that confirmation email land in your inbox, but hold tight! It can take us a couple of days to process your booking. We’ll send you an update in 2 to 4 business days.
          <br><br>
          If you booked an on request trip and space is unavailable, we’ll let you know via email and provide you with a full refund.
          <br><br>
          <strong>I booked trip extras but haven't received confirmation, how long should this take?</strong>
          <br><br>It can take a few days for our team to confirm airport transfers, pre/post-trip accommodation and other extras with our local suppliers on the ground. Please give us 2 to 4 business days to email you an update.
          <strong>When will I know all the details of my trip?</strong><br><br>
          All trip details are available in your<strong> Essential Trip Information</strong>
          . If there are last-minute changes such as a new joining or finishing point, we’ll email you an update before the trip begins. We recommend that you book pre/post-trip accommodation through Intrepid, as we'll normally re-book you into a new hotel if the joining/finishing point changes to save you the hassle.
        </div>
        </div>
      </div>

      <h2 data-anchortext="" data-faicon="" class="choseTrip">Payments</h2>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree4">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree4" aria-expanded="false" aria-controls="collapseThree4">
          <strong> Is there a surcharge when paying by credit card? </strong>  
          </button>
        </h2>
        <div id="collapseThree4" class="accordion-collapse collapse" aria-labelledby="headingThree4" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            No surcharges apply when paying for your trip with a credit card, but there may be restrictions on which card you can use depending on your location.&nbsp;
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree5">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree5" aria-expanded="false" aria-controls="collapseThree5">
          <strong> When is the final due date for my trip?</strong>  
          </button>
        </h2>
        <div id="collapseThree5" class="accordion-collapse collapse" aria-labelledby="headingThree5" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Full payment is required 56 days before departure to avoid trip cancellation. <br><br>
            *A number of trips including Polar, Adventure Cruises, gorilla permit trips and select Tailor-Made itineraries have different conditions. Please see our <a href="#">Special Conditions</a> for more information.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree6">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree6" aria-expanded="false" aria-controls="collapseThree6">
          <strong> Credits</strong>  
          </button>
        </h2>
        <div id="collapseThree6" class="accordion-collapse collapse" aria-labelledby="headingThree6" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>Can I use credit to pay the trip deposit or remaining balance?</strong><br><br>
            Absolutely. You can use your credit as a deposit toward the outstanding balance of a trip or keep hold of it for a future adventure – credits don’t expire for most of our trips.
          <br><br>
          *Please note that any credits you have with third parties may have expiry dates. 
        </div>
        </div>
      </div>

    </div>


    <!-- --------------TERMS OF SERVICE--------------------- -->
    <div class="termsOfService">
      <h1 class="serviceTitle">Terms of Service</h1>
        <div class="serviceContent">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          <br><br>
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
          <br><br>
          "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"
          "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."
        </div>
    </div>


    <!-- ------------------PRIVACY POLICY----------------- -->
    <div class="privacyPolicy">
      <h1 class="policyTitle">Privacy Policy</h1>
      <div class="policyContent">
        While information is the cornerstone of our ability to provide superior service, our most important asset is our clients’ trust. Keeping client information secure, and using it only as our clients would want us to, is a top priority for all of us at Journey Travel &amp; Tours. Here then, is our promise to our individual customers:
        <ul>
          <li>We will safeguard, according to strict standards of security and confidentiality, any information our customers share with us.</li><li>We will limit the collection and use of customer information to the minimum we require to deliver superior service to our customers, which includes advising our customers about our products, services and other opportunities, and to administer our business.</li>
          <li>We will permit only authorized employees, who are trained in the proper handling of customer information, to have access to that information. Employees who violate our Privacy Promise will be subject to our normal disciplinary process.</li>
          <li>We will not reveal customer information to any external organization unless we have previously informed the customer in disclosures or agreements, or are required by law.</li>
          <li>We will always maintain control over the confidentiality of our customer information. We may, however, share customer information with reputable companies when a customer has expressed an interest in their service or product. Please note that this Privacy Policy does not apply to these other companys use of customer information.</li>
          <li>Whenever we hire other organizations to provide support services, we will require them to conform to our privacy standards and to allow us to audit them for compliance.</li><li>We will attempt to keep customer files complete, up-to-date, and accurate. We will tell our customers how and where to conveniently access their information (except when we’re prohibited by law) and how to notify us about errors which we will promptly correct.</li>
        </ul>
        <h2 class="cookies">Cookies</h2>
        <p>We employ cookie technology to help visitors and customers move faster through our site. When you sign on to our Web site or take advantage of several key features, we may pass cookies to your computer. A cookie is a string of information that is sent by a Web site and stored on your hard drive or temporarily in your computer’s memory.</p>
        <h2 class="security">Security</h2>
        <p>The personally identifiable information we collect about you is stored in limited access servers. We will maintain safeguards to protect the security of these servers and your personally identifiable information.</p>
        </div>
        <h3 class="qAnda">Comments and Questions</h3>
        <p>If you have any questions, comments or concerns about our Privacy Policy, please <a href="./contact.html">contact us</a>.
        </p>
    </div>

    </div>
  </section>
  <script src="../Controlls/threeInOne.js"></script>
</body>
</html>