<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TravAl Tours</title>
    <link rel="stylesheet" href="../css/tours.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
    <img id="main-img" src="../Images/summer-tours.jpg" alt="main image">
    <p id="main-p">Spend an unforgettable summer with TravAl!</p>
    <p id="browse-p">Browse the collection of summer tours that we offer</p>
    <div>
        <img src="../Images/search.png" alt="search" width="20px" height="20px">
        Search
    </div>
    <div class="div-cards">
        <div class="card">
            <div class="inner">
            <div class="front-card">
                <img class="card-img" src="../Images/dhermi.jpeg" alt="Dhermi">
                <p class="front-p">
                    Dhermi Paradise
                </p>
            </div>
            <div class="back-card">
                <p class="tag">5 day tours</p>
                <p>Dhermi Tour <br>
                    13-18 August <br>
                    20-25 August

                </p>
            </div>
            </div>
        </div>

        <div class="card">
            <div class="inner">
            <div class="front-card">
                <img class="card-img" src="../Images/ksamil.jpg" alt="Ksamil">
                <p class="front-p">
                    Postcard from Ksamil
                </p>
            </div>
            <div class="back-card">
                <p>Ksamil Tour</p>
            </div>
            </div>
        </div>

        <div class="card">
            <div class="inner">
            <div class="front-card">
                <img class="card-img" src="../Images/borsh.jpg" alt="Borsh">
                <p class="front-p">
                    Borsh Paradise
                </p>
            </div>
            <div class="back-card">
                <p>Borsh Tour</p>
            </div>
            </div>
        </div>

        <div class="card">
            <div class="inner">
            <div class="front-card">
                <img class="card-img" src="../Images/gjipe.jpg" alt="Gjipe">
                <p class="front-p">
                    Gjipe Paradise
                </p>
            </div>
            <div class="back-card">
                <p>Gjipe Tour</p>
            </div>
            </div>
        </div>
        
        <div class="card">
            <div class="inner">
            <div class="front-card">
                <img class="card-img" src="../Images/ranahedhur.jpeg" alt="Rana e hedhur">
                <p class="front-p">
                    Visit Rana e Hedhur
                </p>
            </div>
            <div class="back-card">
                <p>Rana e hedhur Tour</p>
            </div>
            </div>
        </div>
        
        <div class="card">
            <div class="inner">
            <div class="front-card">
                <img class="card-img" src="../Images/jale.jpeg" alt="Jale">
                <p class="front-p">
                    Postcard from Jale
                </p>
            </div>
            <div class="back-card">
                <p>Jale Tour</p>
            </div>
            </div>
        </div>
       
        <div class="card">
            <div class="inner">
            <div class="front-card">
                <img class="card-img" src="../Images/livadh.jpeg" alt="Livadh">
                <p class="front-p">
                    Visit Livadhi Beach
                </p>
            </div>
            <div class="back-card">
                <p>Livadh Tour</p>
            </div>
            </div>
        </div>
       
        <div class="card">
            <div class="inner">
            <div class="front-card">
                <img class="card-img" src="../Images/zvernec.jpeg" alt="Zvernec">
                <p class="front-p">
                    Take a tour in Zvernec
                </p>
            </div>
            <div class="back-card">
                <p>Zvernec Tour</p>
            </div>
            </div>
        </div>
       
        <div class="card">
            <div class="inner">
            <div class="front-card">
                <img class="card-img" src="../Images/saranda.jpg" alt="Saranda">
                <p class="front-p">
                    Get lost in Saranda
                </p>
            </div>
            <div class="back-card">
                <p>Saranda Tour</p>
            </div>
            </div>
        </div>
       
    </div>

    
</body>
</html>