/*------------------- contact hero section -----------------------*/
.contact-msg-container{
    display: flex;
    background-color: rgba(217, 217, 217, 0.8);
    border-radius: 40px;
}

.contact-msg-img-container{
    width: fit-content;
    height: 390px;
    padding-right: 50px;
}

.contact-msg-img-container img{
    width: 100%;
    height: 100%;
}

.contact-msg{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.contact-msg h1{
    font-family: "Lobster Two", cursive;
    font-size: 96px;

}

.contact-msg span{
    font-family: "ABeeZee", sans-serif;
    font-size: 32px;
    justify-self: center;
    margin-top: 35px;
}

.contact-hero{
    background-image: url("../../Images/ContactPageImg/palm\ trees.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 1148px) {
    .contact-msg-container{
        padding: 0px 50px;
    }

    .contact-msg-img-container{
        width: 100%;
        height: 300px;
        padding-right: 0px;
    }

    .contact-msg{
        padding-left: 0px;
    }

    .contact-msg h1{
        font-size: 60px;
        text-align: center;
    }

    .contact-msg span{
        font-size: 24px;
    }
    
}

@media screen and (max-width: 767px) {
    .contact-msg span{
        text-align: center;
        padding: 15px 20px;
    }

    .contact-msg h1{
        font-size: 45px;
    }
}

/* -----------------------contact card---------------------- */

.red-icon {
    color: rgba(255, 0, 0, 0.477);
}

.content-container{
    width: 100%;
    height: 500px;
    position: relative;
}

.content-container img,
.content-container iframe{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.contact-method-text-container{
    position: absolute;
    bottom: 0;
    background-color: rgba(79, 75, 75, 0.9);
    width: 100%;
    border-radius: 0 0 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 10px 0px;
}

.contact-method-text-container #phone-contact-text{
    align-items: center;
}

.contact-card{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    margin-top: -40px;
}

.contact-card:hover{
    margin-top: -60px;
    transition: 0.5s;
}

#contact-method-section{
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 35%,
        rgba(13, 46, 79, 1)90%,
        rgba(48, 66, 96, 0)100%
    );
    background-blend-mode: multiply;
    position: relative;
    z-index: 1;
}

.dark-map{
    filter: invert(100%) hue-rotate(180deg);
    background-color: #1c1c1c;
}

/* .contact-method-text{
    color: greenyellow;
} */

@media screen and (max-width: 350px) {
   .contact-card{
    height: 400px;
   }

   .content-container{
    height: 400px;
   }

    .contact-method-text{
        /* color: blue; */
        font-size: 17px;
   }

   .red-icon{
    font-size: 20px;
   }
}


/*-------------------- contact form ----------------------*/

#contact-form-section{
    margin-top: -105px;
}

.form-container{
    background-image: url("../../Images/ContactPageImg/camping.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 85px;
    padding-bottom: 85px;
}

.contact-form-title{
    font-family: "ABeeZee", sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom:110px;
    margin-top: 100px;
    color: white;
    
}

.contact-form-input-field{
    margin: 65px 0;
    padding: px 0;
}

.contact-form-input-field .form-control{
    margin-top: 30px;
    padding: 15px 15px;
    font-size: 25px;
    font-family: "ABeeZee", sans-serif;
    border-radius: 10px;
}

.contact-form-input-field .form-control:focus{
    border: 2px solid #c3810e;
    box-shadow: 0 0 4px orange;
}

.center-button button{
    width: 100%;
    border: none;
    color: white;
    font-size: 35px;
    font-family: "ABeeZee", sans-serif;
    border-radius: 10px;
    padding: 15px 0;
    margin-bottom: 30px;
}

.center-button button:hover{
    background-color: #c3810e;
    transition: 0.5s;
}

.center-button button:focus{
    background-color: #0e56c3;
}

.form-input-field .form-control::placeholder{
    color: rgba(161, 158, 158, 1);
    font-size: 25px;
    font-family: "ABeeZee", sans-serif;
}

.disabled{
    background-color: #ccc;
    cursor: not-allowed;
    &&:hover{
        background-color: #ccc;
    }
}

.disabled:hover{
    background-color: #ccc;
}

.enabled{
    background-color: rgba(218, 137, 16, 0.48);
    cursor: pointer;
}


@media screen and (max-width: 991px) {
    #contact-form-section{
        margin-top: -135px;
    }

    .form-input-field{
        margin: 25px 0;
        padding: px 0;
    }
}

/* -------------------------join us form ------------------*/
.join-us-popup-container{
    background-color: rgba(216, 216, 216, 1);
    padding: 50px;
    text-align: center;
    border-radius: 30px;
    border: 3px solid #296C81;
    max-width: 800px;
    margin: auto;
    margin-top: 50px;
}

.join-popup-title h1{
    font-family: "Lobster Two", cursive;
    font-size: 60px;
    margin-bottom: 30px; 
}

.join-popup-title h3{
    font-family: "ABeeZee", sans-serif;
    font-size: 30px;
    margin-bottom: 30px; 
}


.join-us-form{
    margin-top: 10px;
}

.join-us-form input:not([type="file"]){
    padding: 20px 15px;
    margin-bottom: 40px;
    border-radius: 15px;

    &&::placeholder{
        font-size: 20px;
        color: rgba(141, 141, 141, 1);
    }
}

.join-us-form input:focus{
    outline: none;
    border: 2px solid #1A5164;
    box-shadow: 0 0 4px #296C81;
}

.join-us-form input[type="file"]{
    font-size: 15px;
    border-radius: 19px;
    margin-bottom: 40px;
    display: inline-flex;

    &&::-webkit-file-upload-button{
        background-color: #296C81;
        color: #E8E8E8;
        padding: 10px 21px;
        cursor: pointer;
        font-size: 20px;
        height: 70px;
        &&:hover{
            background-color: rgba(26, 81, 100, 1);
            transition: 0.5s;
        }
    }

    
}

#join-submit-button{
    color: #E8E8E8;
    width: 100%;
    height: 70px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

#join-submit-button:hover{
    
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    transition: 0.5s;
}

#join-submit-button:focus{
    background-color: rgb(86, 207, 247);
    transition: 0.5s;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

#join-us-popup{
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    
}

.inactive-popup{
    display: none;
}

.active-join-us-btn{
    background-color: #296C81;

    &&:hover{
        background-color: rgba(26, 81, 100, 1);
    }
}

.inactive-join-us-btn{
    background-color: #ccc;
    cursor: not-allowed;

    &&:hover{
        background-color: #ccc;
    }
}